openapi: 3.0.0
servers:
- url: https://www.googleapis.com/calendar/v3
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Calendar API allows you to manage your Google Calendar account,
    including creating, updating, and deleting events, managing calendars, and accessing
    scheduling data.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Calendar API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: 
      https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://calendar-json.googleapis.com/$discovery/rest?version=v3
    version: v1
  x-providerName: googleapis.com
  x-serviceName: calendar
  summary: Create, edit, and retrieve events, manage reminders, and access scheduling
    data.
  x-api-uuid: f2c5997b-44ea-4a0b-a80f-16e0dc954766
externalDocs:
  url: https://developers.google.com/google-apps/calendar/firstapp
tags:
- name: acl
- name: calendarList
- name: calendars
- name: channels
- name: colors
- name: events
- name: freebusy
- name: settings
paths:
  /calendars:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: This allows you to create a new secondary calendar within your
        Google Calendar account. Secondary calendars are additional calendars that
        you can manage separately from your primary calendar, useful for organizing
        different types of events or schedules.
      operationId: google_calendar_calendars_insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calendar'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendars
      summary: Create a secondary calendar
      x-uuid: 23c64fc1-661e-4c7b-a3aa-497f030ee364
  /calendars/{calendarId}:
    delete:
      description: This endpoint deletes a specified secondary calendar from your
        Google Calendar account. Note that this action is irreversible and will remove
        the calendar entirely. For primary calendars, use the 'calendars.clear' endpoint
        to remove all events without deleting the calendar itself.
      operationId: google_calendar_calendars_delete
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendars
      summary: Delete a secondary calendar
      x-uuid: 59bf3965-9aa5-4869-bac6-cd4dc452ced6
    get:
      description: Retrieve detailed metadata for a specified calendar. This includes
        information such as the calendar's name, description, time zone, and other
        settings. Useful for understanding the properties and configurations of a
        calendar.
      operationId: google_calendar_calendars_get
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - calendars
      summary: Get calendar metadata
      x-uuid: 91531429-afc8-476e-a40d-8a78c084a4f2
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    patch:
      description: Update specific metadata fields for a calendar using patch semantics,
        which allows partial updates. This is useful for making small changes to a
        calendar's settings without needing to send the entire calendar object.
      operationId: google_calendar_calendars_patch
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calendar'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendars
      summary: Partially update calendar metadata
      x-uuid: 5feaf5d5-7948-4c33-b0b9-9b8ff24763ba
    put:
      description: Completely update the metadata for a specified calendar. This operation
        replaces the existing calendar metadata with the new data provided, allowing
        for comprehensive updates to calendar settings.
      operationId: google_calendar_calendars_update
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calendar'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendars
      summary: Update calendar metadata
      x-uuid: d13695fa-16ac-4cba-9b52-8082d8fe53ff
  /calendars/{calendarId}/acl:
    get:
      description: Retrieve the access control list (ACL) rules for a specified calendar.
        ACL rules define the permissions and access levels for different users or
        groups, allowing you to manage who can view or edit the calendar.
      operationId: google_calendar_acl_list
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Maximum number of entries returned on one result page. By default
          the value is 100 entries. The page size can never be larger than 250 entries.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to include deleted ACLs in the result. Deleted ACLs are
          represented by role equal to "none". Deleted ACLs will always be included
          if syncToken is provided. Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: 'Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.
          All entries deleted since the previous list request will always be in the
          result set and it is not allowed to set showDeleted to False.

          If the syncToken expires, the server will respond with a 410 GONE response
          code and the client should clear its storage and perform a full synchronization
          without any syncToken.

          Learn more about incremental synchronization.

          Optional. The default is to return all entries.'
        in: query
        name: syncToken
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acl'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - acl
      summary: Get calendar ACL rules
      x-uuid: 2a1edd60-382b-427c-bcb1-a6a9e63cf77a
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Create a new access control rule for a specified calendar. This
        allows you to define or modify who can access the calendar and what level
        of permissions they have, such as viewing or editing events.
      operationId: google_calendar_acl_insert
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Whether to send notifications about the calendar sharing change.
          Optional. The default is True.
        in: query
        name: sendNotifications
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclRule'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclRule'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - acl
      summary: Create calendar ACL rule
      x-uuid: b5cbd079-c54e-4ca7-a811-d5e552c9f6b3
  /calendars/{calendarId}/acl/watch:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Set up a watch on the access control list (ACL) resources for a
        calendar. This allows you to receive notifications when there are changes
        to the ACL, helping you stay updated on who has access to your calendar.
      operationId: google_calendar_acl_watch
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Maximum number of entries returned on one result page. By default
          the value is 100 entries. The page size can never be larger than 250 entries.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to include deleted ACLs in the result. Deleted ACLs are
          represented by role equal to "none". Deleted ACLs will always be included
          if syncToken is provided. Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: 'Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.
          All entries deleted since the previous list request will always be in the
          result set and it is not allowed to set showDeleted to False.

          If the syncToken expires, the server will respond with a 410 GONE response
          code and the client should clear its storage and perform a full synchronization
          without any syncToken.

          Learn more about incremental synchronization.

          Optional. The default is to return all entries.'
        in: query
        name: syncToken
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - acl
      summary: Watch calendar ACL changes
      x-uuid: 0e9ec2d4-29bd-44e6-a3ae-8d136ced15cf
  /calendars/{calendarId}/acl/{ruleId}:
    delete:
      description: Delete a specific access control rule from a calendar. This action
        removes the specified permissions for a user or group, effectively changing
        who can access or modify the calendar.
      operationId: google_calendar_acl_delete
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: ACL rule identifier.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - acl
      summary: Delete calendar ACL rule
      x-uuid: 40b0718d-16f3-41b7-8b3f-fb03d0604a48
    get:
      description: Retrieve a specific access control rule for a calendar. This provides
        details about the permissions granted to a user or group, helping you understand
        the current access settings.
      operationId: google_calendar_acl_get
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: ACL rule identifier.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclRule'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - acl
      summary: Get specific ACL rule
      x-uuid: 167f359f-1646-4fe3-b07f-80bc0364ee8a
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    patch:
      description: Update a specific access control rule using patch semantics, allowing
        for partial updates. This is useful for modifying certain permissions without
        altering the entire rule.
      operationId: google_calendar_acl_patch
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: ACL rule identifier.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      - description: Whether to send notifications about the calendar sharing change.
          Note that there are no notifications on access removal. Optional. The default
          is True.
        in: query
        name: sendNotifications
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclRule'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclRule'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - acl
      summary: Partially update ACL rule
      x-uuid: 8a8fdeaa-c381-4975-b069-7309302a8c31
    put:
      description: Completely update a specific access control rule for a calendar.
        This operation replaces the existing rule with new permissions, allowing for
        comprehensive changes to access settings.
      operationId: google_calendar_acl_update
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: ACL rule identifier.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      - description: Whether to send notifications about the calendar sharing change.
          Note that there are no notifications on access removal. Optional. The default
          is True.
        in: query
        name: sendNotifications
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclRule'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclRule'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - acl
      summary: Update specific ACL rule
      x-uuid: 6d2b9818-e7f1-4b2a-b9c0-cec7dd0227fb
  /calendars/{calendarId}/clear:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Clear all events from a primary calendar. This operation deletes
        every event associated with the primary calendar of an account, effectively
        resetting the calendar while keeping it intact.
      operationId: google_calendar_calendars_clear
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendars
      summary: Clear primary calendar events
      x-uuid: 233568f0-594b-4a34-bf7d-ce01d3fb546c
  /calendars/{calendarId}/events:
    get:
      description: Retrieve a list of events from a specified calendar. This includes
        all scheduled events, allowing you to view and manage your calendar's activities.
      operationId: google_calendar_events_list
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Deprecated and ignored. A value will always be returned in the
          email field for the organizer, creator and attendees, even if no real email
          address is available (i.e. a generated, non-working value will be provided).
        in: query
        name: alwaysIncludeEmail
        schema:
          type: boolean
      - description: "Event types to return. Optional. Possible values are: \n- \"\
          default\" \n- \"focusTime\" \n- \"outOfOffice\"This parameter can be repeated
          multiple times to return events of different types. Currently, this is the
          only allowed value for this field: \n- [\"default\", \"focusTime\", \"outOfOffice\"\
          ] This value will be the default.\n\nIf you're enrolled in the Working Location
          developer preview program, in addition to the default value above you can
          also set the \"workingLocation\" event type: \n- [\"default\", \"focusTime\"\
          , \"outOfOffice\", \"workingLocation\" ] \n- [\"workingLocation\"] Additional
          combinations of these 4 event types will be made available in later releases.
          Developer Preview."
        explode: true
        in: query
        name: eventTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Specifies an event ID in the iCalendar format to be provided
          in the response. Optional. Use this if you want to search for an event by
          its iCalendar ID.
        in: query
        name: iCalUID
        schema:
          type: string
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: Maximum number of events returned on one result page. The number
          of events in the resulting page may be less than this value, or none at
          all, even if there are more events matching the query. Incomplete pages
          can be detected by a non-empty nextPageToken field in the response. By default
          the value is 250 events. The page size can never be larger than 2500 events.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: The order of the events returned in the result. Optional. The
          default is an unspecified, stable order.
        in: query
        name: orderBy
        schema:
          enum:
          - startTime
          - updated
          type: string
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Extended properties constraint specified as propertyName=value.
          Matches only private properties. This parameter might be repeated multiple
          times to return events that match all given constraints.
        explode: true
        in: query
        name: privateExtendedProperty
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Free text search terms to find events that match these terms
          in the following fields: summary, description, location, attendee''s displayName,
          attendee''s email. Optional.'
        in: query
        name: q
        schema:
          type: string
      - description: Extended properties constraint specified as propertyName=value.
          Matches only shared properties. This parameter might be repeated multiple
          times to return events that match all given constraints.
        explode: true
        in: query
        name: sharedExtendedProperty
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to include deleted events (with status equals "cancelled")
          in the result. Cancelled instances of recurring events (but not the underlying
          recurring event) will still be included if showDeleted and singleEvents
          are both False. If showDeleted and singleEvents are both True, only single
          instances of deleted events (but not the underlying recurring events) are
          returned. Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: Whether to include hidden invitations in the result. Optional.
          The default is False.
        in: query
        name: showHiddenInvitations
        schema:
          type: boolean
      - description: Whether to expand recurring events into instances and only return
          single one-off events and instances of recurring events, but not the underlying
          recurring events themselves. Optional. The default is False.
        in: query
        name: singleEvents
        schema:
          type: boolean
      - description: "Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.
          All events deleted since the previous list request will always be in the
          result set and it is not allowed to set showDeleted to False.\nThere are
          several query parameters that cannot be specified together with nextSyncToken
          to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n
          - orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n
          - timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server
          will respond with a 410 GONE response code and the client should clear its
          storage and perform a full synchronization without any syncToken.\n Learn
          more about incremental synchronization.\nOptional. The default is to return
          all entries."
        in: query
        name: syncToken
        schema:
          type: string
      - description: Upper bound (exclusive) for an event's start time to filter by.
          Optional. The default is not to filter by start time. Must be an RFC3339
          timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00,
          2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin
          is set, timeMax must be greater than timeMin.
        in: query
        name: timeMax
        schema:
          type: string
      - description: Lower bound (exclusive) for an event's end time to filter by.
          Optional. The default is not to filter by end time. Must be an RFC3339 timestamp
          with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00,
          2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax
          is set, timeMin must be smaller than timeMax.
        in: query
        name: timeMin
        schema:
          type: string
      - description: Time zone used in the response. Optional. The default is the
          time zone of the calendar.
        in: query
        name: timeZone
        schema:
          type: string
      - description: Lower bound for an event's last modification time (as a RFC3339
          timestamp) to filter by. When specified, entries deleted since this time
          will always be included regardless of showDeleted. Optional. The default
          is not to filter by last modification time.
        in: query
        name: updatedMin
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - events
      summary: List calendar events
      x-uuid: 332a9eec-7dea-47eb-8ffa-38754b7b4b04
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Create a new event in a specified calendar. This allows you to
        schedule activities, appointments, or reminders directly within your calendar.
      operationId: google_calendar_events_insert
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Version number of conference data supported by the API client.
          Version 0 assumes no conference data support and ignores conference data
          in the event's body. Version 1 enables support for copying of ConferenceData
          as well as for creating new conferences using the createRequest field of
          conferenceData. The default is 0.
        in: query
        name: conferenceDataVersion
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: 'Deprecated. Please use sendUpdates instead.


          Whether to send notifications about the creation of the new event. Note
          that some emails might still be sent even if you set the value to false.
          The default is false.'
        in: query
        name: sendNotifications
        schema:
          type: boolean
      - description: Whether to send notifications about the creation of the new event.
          Note that some emails might still be sent. The default is false.
        in: query
        name: sendUpdates
        schema:
          enum:
          - all
          - externalOnly
          - none
          type: string
      - description: Whether API client performing operation supports event attachments.
          Optional. The default is False.
        in: query
        name: supportsAttachments
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Create a calendar event
      x-uuid: 2d28468d-5853-48f2-a8eb-d9b0d60af818
  /calendars/{calendarId}/events/import:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Import an existing event into a calendar, creating a private copy.
        This is useful for adding events from external sources or other calendars
        without sharing them publicly.
      operationId: google_calendar_events_import
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Version number of conference data supported by the API client.
          Version 0 assumes no conference data support and ignores conference data
          in the event's body. Version 1 enables support for copying of ConferenceData
          as well as for creating new conferences using the createRequest field of
          conferenceData. The default is 0.
        in: query
        name: conferenceDataVersion
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: Whether API client performing operation supports event attachments.
          Optional. The default is False.
        in: query
        name: supportsAttachments
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Import an event to calendar
      x-uuid: 5ca1716b-34ca-4215-a945-632a4964fb16
  /calendars/{calendarId}/events/quickAdd:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Quickly create an event using a simple text string. This feature
        allows you to add events by typing natural language descriptions, making scheduling
        fast and intuitive.
      operationId: google_calendar_events_quick_add
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: The text describing the event to be created.
        in: query
        name: text
        required: true
        schema:
          type: string
      - description: 'Deprecated. Please use sendUpdates instead.


          Whether to send notifications about the creation of the event. Note that
          some emails might still be sent even if you set the value to false. The
          default is false.'
        in: query
        name: sendNotifications
        schema:
          type: boolean
      - description: Guests who should receive notifications about the creation of
          the new event.
        in: query
        name: sendUpdates
        schema:
          enum:
          - all
          - externalOnly
          - none
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Quickly add an event
      x-uuid: d32fcc93-d457-4820-be8e-f96551da8074
  /calendars/{calendarId}/events/watch:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Set up a watch on events resources for a calendar. This allows
        you to receive notifications when there are changes to events, keeping you
        informed about updates or modifications.
      operationId: google_calendar_events_watch
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Deprecated and ignored. A value will always be returned in the
          email field for the organizer, creator and attendees, even if no real email
          address is available (i.e. a generated, non-working value will be provided).
        in: query
        name: alwaysIncludeEmail
        schema:
          type: boolean
      - description: "Event types to return. Optional. Possible values are: \n- \"\
          default\" \n- \"focusTime\" \n- \"outOfOffice\"This parameter can be repeated
          multiple times to return events of different types. Currently, this is the
          only allowed value for this field: \n- [\"default\", \"focusTime\", \"outOfOffice\"\
          ] This value will be the default.\n\nIf you're enrolled in the Working Location
          developer preview program, in addition to the default value above you can
          also set the \"workingLocation\" event type: \n- [\"default\", \"focusTime\"\
          , \"outOfOffice\", \"workingLocation\" ] \n- [\"workingLocation\"] Additional
          combinations of these 4 event types will be made available in later releases.
          Developer Preview."
        explode: true
        in: query
        name: eventTypes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Specifies an event ID in the iCalendar format to be provided
          in the response. Optional. Use this if you want to search for an event by
          its iCalendar ID.
        in: query
        name: iCalUID
        schema:
          type: string
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: Maximum number of events returned on one result page. The number
          of events in the resulting page may be less than this value, or none at
          all, even if there are more events matching the query. Incomplete pages
          can be detected by a non-empty nextPageToken field in the response. By default
          the value is 250 events. The page size can never be larger than 2500 events.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: The order of the events returned in the result. Optional. The
          default is an unspecified, stable order.
        in: query
        name: orderBy
        schema:
          enum:
          - startTime
          - updated
          type: string
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Extended properties constraint specified as propertyName=value.
          Matches only private properties. This parameter might be repeated multiple
          times to return events that match all given constraints.
        explode: true
        in: query
        name: privateExtendedProperty
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Free text search terms to find events that match these terms
          in the following fields: summary, description, location, attendee''s displayName,
          attendee''s email. Optional.'
        in: query
        name: q
        schema:
          type: string
      - description: Extended properties constraint specified as propertyName=value.
          Matches only shared properties. This parameter might be repeated multiple
          times to return events that match all given constraints.
        explode: true
        in: query
        name: sharedExtendedProperty
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to include deleted events (with status equals "cancelled")
          in the result. Cancelled instances of recurring events (but not the underlying
          recurring event) will still be included if showDeleted and singleEvents
          are both False. If showDeleted and singleEvents are both True, only single
          instances of deleted events (but not the underlying recurring events) are
          returned. Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: Whether to include hidden invitations in the result. Optional.
          The default is False.
        in: query
        name: showHiddenInvitations
        schema:
          type: boolean
      - description: Whether to expand recurring events into instances and only return
          single one-off events and instances of recurring events, but not the underlying
          recurring events themselves. Optional. The default is False.
        in: query
        name: singleEvents
        schema:
          type: boolean
      - description: "Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.
          All events deleted since the previous list request will always be in the
          result set and it is not allowed to set showDeleted to False.\nThere are
          several query parameters that cannot be specified together with nextSyncToken
          to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n
          - orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n
          - timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server
          will respond with a 410 GONE response code and the client should clear its
          storage and perform a full synchronization without any syncToken.\n Learn
          more about incremental synchronization.\nOptional. The default is to return
          all entries."
        in: query
        name: syncToken
        schema:
          type: string
      - description: Upper bound (exclusive) for an event's start time to filter by.
          Optional. The default is not to filter by start time. Must be an RFC3339
          timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00,
          2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin
          is set, timeMax must be greater than timeMin.
        in: query
        name: timeMax
        schema:
          type: string
      - description: Lower bound (exclusive) for an event's end time to filter by.
          Optional. The default is not to filter by end time. Must be an RFC3339 timestamp
          with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00,
          2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax
          is set, timeMin must be smaller than timeMax.
        in: query
        name: timeMin
        schema:
          type: string
      - description: Time zone used in the response. Optional. The default is the
          time zone of the calendar.
        in: query
        name: timeZone
        schema:
          type: string
      - description: Lower bound for an event's last modification time (as a RFC3339
          timestamp) to filter by. When specified, entries deleted since this time
          will always be included regardless of showDeleted. Optional. The default
          is not to filter by last modification time.
        in: query
        name: updatedMin
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - events
      summary: Watch for event changes
      x-uuid: 63164df3-730d-4f29-9f50-4847cf825bb1
  /calendars/{calendarId}/events/{eventId}:
    delete:
      description: Delete a specific event from a calendar. This action removes the
        event entirely, freeing up the scheduled time and removing it from your calendar
        view.
      operationId: google_calendar_events_delete
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Event identifier.
        in: path
        name: eventId
        required: true
        schema:
          type: string
      - description: 'Deprecated. Please use sendUpdates instead.


          Whether to send notifications about the deletion of the event. Note that
          some emails might still be sent even if you set the value to false. The
          default is false.'
        in: query
        name: sendNotifications
        schema:
          type: boolean
      - description: Guests who should receive notifications about the deletion of
          the event.
        in: query
        name: sendUpdates
        schema:
          enum:
          - all
          - externalOnly
          - none
          type: string
      responses:
        '200':
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Delete a calendar event
      x-uuid: 52f1cc5b-9971-4e3d-af13-2cd03a3a9c4c
    get:
      description: Retrieve details of a specific event using its Google Calendar
        ID. For events identified by iCalendar ID, use the 'events.list' method with
        the iCalUID parameter.
      operationId: google_calendar_events_get
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Event identifier.
        in: path
        name: eventId
        required: true
        schema:
          type: string
      - description: Deprecated and ignored. A value will always be returned in the
          email field for the organizer, creator and attendees, even if no real email
          address is available (i.e. a generated, non-working value will be provided).
        in: query
        name: alwaysIncludeEmail
        schema:
          type: boolean
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: Time zone used in the response. Optional. The default is the
          time zone of the calendar.
        in: query
        name: timeZone
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - events
      summary: Get event details by ID
      x-uuid: d4218736-bb85-4a37-b68c-5749d6d904a5
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    patch:
      description: Update specific fields of an event using patch semantics, allowing
        for partial modifications. This is useful for making small changes to an event
        without altering the entire event object.
      operationId: google_calendar_events_patch
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Event identifier.
        in: path
        name: eventId
        required: true
        schema:
          type: string
      - description: Deprecated and ignored. A value will always be returned in the
          email field for the organizer, creator and attendees, even if no real email
          address is available (i.e. a generated, non-working value will be provided).
        in: query
        name: alwaysIncludeEmail
        schema:
          type: boolean
      - description: Version number of conference data supported by the API client.
          Version 0 assumes no conference data support and ignores conference data
          in the event's body. Version 1 enables support for copying of ConferenceData
          as well as for creating new conferences using the createRequest field of
          conferenceData. The default is 0.
        in: query
        name: conferenceDataVersion
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: 'Deprecated. Please use sendUpdates instead.


          Whether to send notifications about the event update (for example, description
          changes, etc.). Note that some emails might still be sent even if you set
          the value to false. The default is false.'
        in: query
        name: sendNotifications
        schema:
          type: boolean
      - description: Guests who should receive notifications about the event update
          (for example, title changes, etc.).
        in: query
        name: sendUpdates
        schema:
          enum:
          - all
          - externalOnly
          - none
          type: string
      - description: Whether API client performing operation supports event attachments.
          Optional. The default is False.
        in: query
        name: supportsAttachments
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Partially update an event
      x-uuid: aec1922b-f891-4a78-b8be-c6fc18984408
    put:
      description: Completely update an event's details. This operation replaces the
        existing event data with new information, allowing for comprehensive changes
        to the event.
      operationId: google_calendar_events_update
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Event identifier.
        in: path
        name: eventId
        required: true
        schema:
          type: string
      - description: Deprecated and ignored. A value will always be returned in the
          email field for the organizer, creator and attendees, even if no real email
          address is available (i.e. a generated, non-working value will be provided).
        in: query
        name: alwaysIncludeEmail
        schema:
          type: boolean
      - description: Version number of conference data supported by the API client.
          Version 0 assumes no conference data support and ignores conference data
          in the event's body. Version 1 enables support for copying of ConferenceData
          as well as for creating new conferences using the createRequest field of
          conferenceData. The default is 0.
        in: query
        name: conferenceDataVersion
        schema:
          maximum: 1
          minimum: 0
          type: integer
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: 'Deprecated. Please use sendUpdates instead.


          Whether to send notifications about the event update (for example, description
          changes, etc.). Note that some emails might still be sent even if you set
          the value to false. The default is false.'
        in: query
        name: sendNotifications
        schema:
          type: boolean
      - description: Guests who should receive notifications about the event update
          (for example, title changes, etc.).
        in: query
        name: sendUpdates
        schema:
          enum:
          - all
          - externalOnly
          - none
          type: string
      - description: Whether API client performing operation supports event attachments.
          Optional. The default is False.
        in: query
        name: supportsAttachments
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Update event details
      x-uuid: 027e555c-fdcf-439a-992a-bdd710fb55fb
  /calendars/{calendarId}/events/{eventId}/instances:
    get:
      description: Retrieve all instances of a specified recurring event. This is
        useful for viewing each occurrence of a repeating event, such as weekly meetings
        or monthly reminders.
      operationId: google_calendar_events_instances
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Recurring event identifier.
        in: path
        name: eventId
        required: true
        schema:
          type: string
      - description: Deprecated and ignored. A value will always be returned in the
          email field for the organizer, creator and attendees, even if no real email
          address is available (i.e. a generated, non-working value will be provided).
        in: query
        name: alwaysIncludeEmail
        schema:
          type: boolean
      - description: The maximum number of attendees to include in the response. If
          there are more than the specified number of attendees, only the participant
          is returned. Optional.
        in: query
        name: maxAttendees
        schema:
          minimum: 1
          type: integer
      - description: Maximum number of events returned on one result page. By default
          the value is 250 events. The page size can never be larger than 2500 events.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: The original start time of the instance in the result. Optional.
        in: query
        name: originalStart
        schema:
          type: string
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to include deleted events (with status equals "cancelled")
          in the result. Cancelled instances of recurring events will still be included
          if singleEvents is False. Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: Upper bound (exclusive) for an event's start time to filter by.
          Optional. The default is not to filter by start time. Must be an RFC3339
          timestamp with mandatory time zone offset.
        in: query
        name: timeMax
        schema:
          type: string
      - description: Lower bound (inclusive) for an event's end time to filter by.
          Optional. The default is not to filter by end time. Must be an RFC3339 timestamp
          with mandatory time zone offset.
        in: query
        name: timeMin
        schema:
          type: string
      - description: Time zone used in the response. Optional. The default is the
          time zone of the calendar.
        in: query
        name: timeZone
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - events
      summary: Get recurring event instances
      x-uuid: 3458b88a-80ec-464b-bb35-c270c2e8000c
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
  /calendars/{calendarId}/events/{eventId}/move:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Move an event to another calendar, effectively changing its organizer.
        This is useful for transferring event ownership or reorganizing events across
        different calendars.
      operationId: google_calendar_events_move
      parameters:
      - description: Calendar identifier of the source calendar where the event currently
          is on.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Event identifier.
        in: path
        name: eventId
        required: true
        schema:
          type: string
      - description: Calendar identifier of the target calendar where the event is
          to be moved to.
        in: query
        name: destination
        required: true
        schema:
          type: string
      - description: 'Deprecated. Please use sendUpdates instead.


          Whether to send notifications about the change of the event''s organizer.
          Note that some emails might still be sent even if you set the value to false.
          The default is false.'
        in: query
        name: sendNotifications
        schema:
          type: boolean
      - description: Guests who should receive notifications about the change of the
          event's organizer.
        in: query
        name: sendUpdates
        schema:
          enum:
          - all
          - externalOnly
          - none
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      tags:
      - events
      summary: Move event to another calendar
      x-uuid: a028dec8-bd26-4b13-86ee-9e9c6b655d5d
  /channels/stop:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Stop watching resources through a specified channel. This action
        halts notifications for changes, allowing you to manage which updates you
        receive.
      operationId: google_calendar_channels_stop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.events.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.events.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.settings.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.settings.readonly
      tags:
      - channels
      summary: Stop watching resources
      x-uuid: 0e41881b-d4ac-4d3b-8b9b-12f83ee80f4f
  /colors:
    get:
      description: Retrieve the color definitions available for calendars and events.
        These colors help visually differentiate between different calendars and event
        types.
      operationId: google_calendar_colors_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Colors'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - colors
      summary: Get calendar and event colors
      x-uuid: e265889e-900d-46b3-88b8-2833b5df8ef3
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
  /freeBusy:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Retrieve free/busy information for a set of calendars. This is
        useful for scheduling meetings or events by checking when participants are
        available.
      operationId: google_calendar_freebusy_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeBusyRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeBusyResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - freebusy
      summary: Get free/busy information
      x-uuid: a100cbeb-b44e-4317-8469-64b5e1d6c232
  /users/me/calendarList:
    get:
      description: Retrieve the list of calendars associated with the user's account.
        This includes all calendars the user has access to, allowing for easy management
        and navigation.
      operationId: google_calendar_calendar_list_list
      parameters:
      - description: Maximum number of entries returned on one result page. By default
          the value is 100 entries. The page size can never be larger than 250 entries.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: The minimum access role for the user in the returned entries.
          Optional. The default is no restriction.
        in: query
        name: minAccessRole
        schema:
          enum:
          - freeBusyReader
          - owner
          - reader
          - writer
          type: string
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to include deleted calendar list entries in the result.
          Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: Whether to show hidden entries. Optional. The default is False.
        in: query
        name: showHidden
        schema:
          type: boolean
      - description: 'Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.
          If only read-only fields such as calendar properties or ACLs have changed,
          the entry won''t be returned. All entries deleted and hidden since the previous
          list request will always be in the result set and it is not allowed to set
          showDeleted neither showHidden to False.

          To ensure client state consistency minAccessRole query parameter cannot
          be specified together with nextSyncToken.

          If the syncToken expires, the server will respond with a 410 GONE response
          code and the client should clear its storage and perform a full synchronization
          without any syncToken.

          Learn more about incremental synchronization.

          Optional. The default is to return all entries.'
        in: query
        name: syncToken
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - calendarList
      summary: List user's calendars
      x-uuid: 4dc25cdd-9345-4d14-81fa-2975aa46a718
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Add an existing calendar to the user's calendar list. This allows
        the user to manage and view additional calendars within their account.
      operationId: google_calendar_calendar_list_insert
      parameters:
      - description: Whether to use the foregroundColor and backgroundColor fields
          to write the calendar colors (RGB). If this feature is used, the index-based
          colorId field will be set to the best matching option automatically. Optional.
          The default is False.
        in: query
        name: colorRgbFormat
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarListEntry'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListEntry'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendarList
      summary: Add calendar to user's list
      x-uuid: e55d6679-ff3c-4e1d-b4e1-9d0efb79326a
  /users/me/calendarList/watch:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: Set up a watch on the user's calendar list resources. This allows
        you to receive notifications when there are changes to the list, such as new
        calendars being added or removed.
      operationId: google_calendar_calendar_list_watch
      parameters:
      - description: Maximum number of entries returned on one result page. By default
          the value is 100 entries. The page size can never be larger than 250 entries.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: The minimum access role for the user in the returned entries.
          Optional. The default is no restriction.
        in: query
        name: minAccessRole
        schema:
          enum:
          - freeBusyReader
          - owner
          - reader
          - writer
          type: string
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to include deleted calendar list entries in the result.
          Optional. The default is False.
        in: query
        name: showDeleted
        schema:
          type: boolean
      - description: Whether to show hidden entries. Optional. The default is False.
        in: query
        name: showHidden
        schema:
          type: boolean
      - description: 'Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.
          If only read-only fields such as calendar properties or ACLs have changed,
          the entry won''t be returned. All entries deleted and hidden since the previous
          list request will always be in the result set and it is not allowed to set
          showDeleted neither showHidden to False.

          To ensure client state consistency minAccessRole query parameter cannot
          be specified together with nextSyncToken.

          If the syncToken expires, the server will respond with a 410 GONE response
          code and the client should clear its storage and perform a full synchronization
          without any syncToken.

          Learn more about incremental synchronization.

          Optional. The default is to return all entries.'
        in: query
        name: syncToken
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - calendarList
      summary: Watch calendar list changes
      x-uuid: 86263c65-2334-4575-a86f-f71774f36fb9
  /users/me/calendarList/{calendarId}:
    delete:
      description: This endpoint removes a specific calendar from the user's list
        of calendars. It is useful for managing which calendars are visible or accessible
        in the user's calendar interface.
      operationId: google_calendar_calendar_list_delete
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendarList
      summary: Remove a calendar from list
      x-uuid: 4ad3e931-68f9-439b-88d4-f702425296cb
    get:
      description: This endpoint retrieves details of a specific calendar from the
        user's list of calendars. It allows users to view information about a particular
        calendar they have access to.
      operationId: google_calendar_calendar_list_get
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListEntry'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      tags:
      - calendarList
      summary: Get calendar details
      x-uuid: 02aeeafd-fbcb-4552-9adf-4c5e1d2698dd
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    patch:
      description: This endpoint updates certain fields of an existing calendar in
        the user's list using patch semantics, which means only the specified fields
        will be updated. It is useful for making partial updates without affecting
        other calendar data.
      operationId: google_calendar_calendar_list_patch
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Whether to use the foregroundColor and backgroundColor fields
          to write the calendar colors (RGB). If this feature is used, the index-based
          colorId field will be set to the best matching option automatically. Optional.
          The default is False.
        in: query
        name: colorRgbFormat
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarListEntry'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListEntry'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendarList
      summary: Partially update calendar
      x-uuid: 649bc943-1ade-4256-afdd-05c5b3a65d0b
    put:
      description: This endpoint updates an existing calendar in the user's list by
        replacing it with a new version. It is used when a complete update of the
        calendar's information is needed.
      operationId: google_calendar_calendar_list_update
      parameters:
      - description: Calendar identifier. To retrieve calendar IDs call the calendarList.list
          method. If you want to access the primary calendar of the currently logged
          in user, use the "primary" keyword.
        in: path
        name: calendarId
        required: true
        schema:
          type: string
      - description: Whether to use the foregroundColor and backgroundColor fields
          to write the calendar colors (RGB). If this feature is used, the index-based
          colorId field will be set to the best matching option automatically. Optional.
          The default is False.
        in: query
        name: colorRgbFormat
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarListEntry'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListEntry'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      tags:
      - calendarList
      summary: Update calendar completely
      x-uuid: 643e2ba0-7bfe-4ce2-9a7b-c52d458625a4
  /users/me/settings:
    get:
      description: This endpoint retrieves all settings for the authenticated user.
        It provides access to user-specific configurations and preferences within
        the calendar application.
      operationId: google_calendar_settings_list
      parameters:
      - description: Maximum number of entries returned on one result page. By default
          the value is 100 entries. The page size can never be larger than 250 entries.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: 'Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.

          If the syncToken expires, the server will respond with a 410 GONE response
          code and the client should clear its storage and perform a full synchronization
          without any syncToken.

          Learn more about incremental synchronization.

          Optional. The default is to return all entries.'
        in: query
        name: syncToken
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.settings.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.settings.readonly
      tags:
      - settings
      summary: Retrieve all user settings
      x-uuid: 79936e55-8ae8-402f-a486-675607fab809
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
  /users/me/settings/watch:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    post:
      description: This endpoint allows users to watch for changes to their settings
        resources. It is useful for applications that need to respond to updates in
        user settings in real-time.
      operationId: google_calendar_settings_watch
      parameters:
      - description: Maximum number of entries returned on one result page. By default
          the value is 100 entries. The page size can never be larger than 250 entries.
          Optional.
        in: query
        name: maxResults
        schema:
          minimum: 1
          type: integer
      - description: Token specifying which result page to return. Optional.
        in: query
        name: pageToken
        schema:
          type: string
      - description: 'Token obtained from the nextSyncToken field returned on the
          last page of results from the previous list request. It makes the result
          of this list request contain only entries that have changed since then.

          If the syncToken expires, the server will respond with a 410 GONE response
          code and the client should clear its storage and perform a full synchronization
          without any syncToken.

          Learn more about incremental synchronization.

          Optional. The default is to return all entries.'
        in: query
        name: syncToken
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.settings.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.settings.readonly
      tags:
      - settings
      summary: Monitor settings changes
      x-uuid: 23808f3d-3364-47b5-bb7c-6b47cf6bb53d
  /users/me/settings/{setting}:
    get:
      description: This endpoint retrieves a specific user setting. It is useful for
        accessing individual configuration options or preferences set by the user.
      operationId: google_calendar_settings_get
      parameters:
      - description: The id of the user setting.
        in: path
        name: setting
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/calendar
        Oauth2c:
        - https://www.googleapis.com/auth/calendar
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/calendar.settings.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/calendar.settings.readonly
      tags:
      - settings
      summary: Get specific user setting
      x-uuid: 52bdc86f-f7be-4a4b-ad51-7e6a90a46511
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        enum:
        - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you
        with API access, quota, and reports. Required unless you provide an OAuth
        2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  schemas:
    Acl:
      properties:
        etag:
          description: ETag of the collection.
          type: string
        items:
          description: List of rules on the access control list.
          items:
            $ref: '#/components/schemas/AclRule'
          type: array
        kind:
          default: calendar#acl
          description: Type of the collection ("calendar#acl").
          type: string
        nextPageToken:
          description: Token used to access the next page of this result. Omitted
            if no further results are available, in which case nextSyncToken is provided.
          type: string
        nextSyncToken:
          description: Token used at a later point in time to retrieve only the entries
            that have changed since this result was returned. Omitted if further results
            are available, in which case nextPageToken is provided.
          type: string
      type: object
    AclRule:
      properties:
        etag:
          description: ETag of the resource.
          type: string
        id:
          description: Identifier of the Access Control List (ACL) rule. See Sharing
            calendars.
          type: string
        kind:
          default: calendar#aclRule
          description: Type of the resource ("calendar#aclRule").
          type: string
        role:
          description: "The role assigned to the scope. Possible values are:  \n-
            \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read
            access to free/busy information. \n- \"reader\" - Provides read access
            to the calendar. Private events will appear to users with reader access,
            but event details will be hidden. \n- \"writer\" - Provides read and write
            access to the calendar. Private events will appear to users with writer
            access, and event details will be visible. \n- \"owner\" - Provides ownership
            of the calendar. This role has all of the permissions of the writer role
            with the additional ability to see and manipulate ACLs."
          type: string
        scope:
          description: The extent to which calendar access is granted by this ACL
            rule.
          properties:
            type:
              description: "The type of the scope. Possible values are:  \n- \"default\"\
                \ - The public scope. This is the default value. \n- \"user\" - Limits
                the scope to a single user. \n- \"group\" - Limits the scope to a
                group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions
                granted to the \"default\", or public, scope apply to any user, authenticated
                or not."
              type: string
            value:
              description: The email address of a user or group, or the name of a
                domain, depending on the scope type. Omitted for type "default".
              type: string
          type: object
      type: object
    Calendar:
      properties:
        conferenceProperties:
          $ref: '#/components/schemas/ConferenceProperties'
          description: Conferencing properties for this calendar, for example what
            types of conferences are allowed.
        description:
          description: Description of the calendar. Optional.
          type: string
        etag:
          description: ETag of the resource.
          type: string
        id:
          description: Identifier of the calendar. To retrieve IDs call the calendarList.list()
            method.
          type: string
        kind:
          default: calendar#calendar
[...]
