# coding: utf-8

"""
    Intercom API

    The intercom API reference.  # noqa: E501

    OpenAPI spec version: 2.11
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from ..api_client import ApiClient


class TicketTypeAttributesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_ticket_type_attribute(self, ticket_type_id, **kwargs):  # noqa: E501
        """Create a new attribute for a ticket type  # noqa: E501

        You can create a new attribute for a ticket type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_ticket_type_attribute(ticket_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ticket_type_id: The unique identifier for the ticket type which is given by Intercom. (required)
        :param CreateTicketTypeAttributeRequest body:
        :param IntercomVersion intercom_version:
        :return: TicketTypeAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_ticket_type_attribute_with_http_info(ticket_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_ticket_type_attribute_with_http_info(ticket_type_id, **kwargs)  # noqa: E501
            return data

    def create_ticket_type_attribute_with_http_info(self, ticket_type_id, **kwargs):  # noqa: E501
        """Create a new attribute for a ticket type  # noqa: E501

        You can create a new attribute for a ticket type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_ticket_type_attribute_with_http_info(ticket_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ticket_type_id: The unique identifier for the ticket type which is given by Intercom. (required)
        :param CreateTicketTypeAttributeRequest body:
        :param IntercomVersion intercom_version:
        :return: TicketTypeAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_type_id', 'body', 'intercom_version']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_ticket_type_attribute" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ticket_type_id' is set
        if ('ticket_type_id' not in params or
                params['ticket_type_id'] is None):
            raise ValueError("Missing the required parameter `ticket_type_id` when calling `create_ticket_type_attribute`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ticket_type_id' in params:
            path_params['ticket_type_id'] = params['ticket_type_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'intercom_version' in params:
            header_params['Intercom-Version'] = params['intercom_version']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ticket_types/{ticket_type_id}/attributes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TicketTypeAttribute',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_ticket_type_attribute(self, ticket_type_id, attribute_id, **kwargs):  # noqa: E501
        """Update an existing attribute for a ticket type  # noqa: E501

        You can update an existing attribute for a ticket type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_ticket_type_attribute(ticket_type_id, attribute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ticket_type_id: The unique identifier for the ticket type which is given by Intercom. (required)
        :param str attribute_id: The unique identifier for the ticket type attribute which is given by Intercom. (required)
        :param UpdateTicketTypeAttributeRequest body:
        :param IntercomVersion intercom_version:
        :return: TicketTypeAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_ticket_type_attribute_with_http_info(ticket_type_id, attribute_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_ticket_type_attribute_with_http_info(ticket_type_id, attribute_id, **kwargs)  # noqa: E501
            return data

    def update_ticket_type_attribute_with_http_info(self, ticket_type_id, attribute_id, **kwargs):  # noqa: E501
        """Update an existing attribute for a ticket type  # noqa: E501

        You can update an existing attribute for a ticket type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_ticket_type_attribute_with_http_info(ticket_type_id, attribute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ticket_type_id: The unique identifier for the ticket type which is given by Intercom. (required)
        :param str attribute_id: The unique identifier for the ticket type attribute which is given by Intercom. (required)
        :param UpdateTicketTypeAttributeRequest body:
        :param IntercomVersion intercom_version:
        :return: TicketTypeAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_type_id', 'attribute_id', 'body', 'intercom_version']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_ticket_type_attribute" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ticket_type_id' is set
        if ('ticket_type_id' not in params or
                params['ticket_type_id'] is None):
            raise ValueError("Missing the required parameter `ticket_type_id` when calling `update_ticket_type_attribute`")  # noqa: E501
        # verify the required parameter 'attribute_id' is set
        if ('attribute_id' not in params or
                params['attribute_id'] is None):
            raise ValueError("Missing the required parameter `attribute_id` when calling `update_ticket_type_attribute`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ticket_type_id' in params:
            path_params['ticket_type_id'] = params['ticket_type_id']  # noqa: E501
        if 'attribute_id' in params:
            path_params['attribute_id'] = params['attribute_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'intercom_version' in params:
            header_params['Intercom-Version'] = params['intercom_version']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/ticket_types/{ticket_type_id}/attributes/{attribute_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TicketTypeAttribute',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
