openapi: 3.0.0
servers:
  - url: https://slack.com/api
info:
  contact:
    name: Slack developer relations
    url: https://api.slack.com/support
  description: The Slack Web API allows you to interact with the Slack platform, including sending messages, managing channels and users, and integrating workspace features.
  title: Slack Web API
  version: 1.7.0
  x-apisguru-categories:
    - collaboration
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/http_static.tumblr.com_wvuzcz9_LlKncfhmp_slack_logo_240.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json
      version: '3.0'
  x-providerName: slack.com
  summary: Send messages, manage channels and users, and integrate workspace features.
  x-api-uuid: 006927c6-110b-44af-b502-40a800af0b91
externalDocs:
  description: Learn more about the Slack Web API
  url: https://api.slack.com/web
tags: []
paths:
  /admin.apps.approve:
    post:
      description: This allows administrators to approve an application for installation within a Slack workspace. Once approved, the app can be used by members of the workspace, enabling its features and integrations.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
      operationId: slack_web_api_admin_apps_approve
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                app_id:
                  description: The id of the app to approve.
                  type: string
                request_id:
                  description: The id of the request to approve.
                  type: string
                team_id:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.apps:write
      tags:
        - admin.apps
        - admin
      summary: Approve app for workspace use
      x-uuid: 2d988273-3c02-4dbb-80ce-eda9397186b0
  /admin.apps.approved.list:
    get:
      description: Retrieve a list of all applications that have been approved for use within a specific organization or workspace. This helps administrators keep track of which apps are available to users.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
      operationId: slack_web_api_admin_apps_approved_list
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: Set `cursor` to `next_cursor` returned by the previous call to list items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          schema:
            type: string
        - in: query
          name: enterprise_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    approved_apps:
                      - app:
                          additional_info: ''
                          app_directory_url: https://myteam.enterprise.slack.com/apps/A0W7UKG8E-my-test-app
                          app_homepage_url: https://www.slack.com
                          description: test app
                          help_url: https://www.slack.com
                          icons:
                            image_1024: https://3026743124446w96_2bd4ea1ad1f89a23c242_1024.png
                            image_128: https://30267341249446w6_2bd4ea1ad1f89a23c242_128.png
                            image_192: https://30267431249446w6_2bd4ea1ad1f89a23c242_192.png
                            image_32: https://302674312496446w_2bd4ea1ad1f89a23c242_32.png
                            image_36: https://302674312496446w_2bd4ea1ad1f89a23c242_36.png
                            image_48: https://302674312496446w_2bd4ea1ad1f89a23c242_48.png
                            image_512: https://30267431249446w6_2bd4ea1ad1f89a23c242_512.png
                            image_64: https://302674312496446w_2bd4ea1ad1f89a23c242_64.png
                            image_72: https://302674312496446w_2bd4ea1ad1f89a23c242_72.png
                            image_96: https://302674312496446w_2bd4ea1ad1f89a23c242_96.png
                            image_original: https://302674446w12496_2bd4ea1ad1f89a23c242_original.png
                          id: A0W7UKG8E
                          is_app_directory_approved: false
                          is_internal: false
                          name: My Test App
                          privacy_policy_url: https://www.slack.com
                        date_updated: 1574296707
                        last_resolved_by:
                          actor_id: W0G82F4FD
                          actor_type: user
                        scopes:
                          - description: Add the ability for people to direct message or mention @my_test_app
                            is_sensitive: true
                            name: bot
                            token_type: bot
                    ok: true
                    response_metadata:
                      next_cursor: ''
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.apps:read
      tags:
        - admin.apps.approved
        - admin
      summary: List approved apps
      x-uuid: ea49d928-212c-47d5-a95a-5bdb554d68ad
  /admin.apps.requests.list:
    get:
      description: This endpoint provides a list of all app installation requests made by members of a team or workspace. Administrators can review these requests to decide whether to approve or deny them.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
      operationId: slack_web_api_admin_apps_requests_list
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: Set `cursor` to `next_cursor` returned by the previous call to list items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    app_requests:
                      - app:
                          additional_info: ''
                          app_directory_url: https://acmecorp.slack.com/apps/A061BL8RQ0-test-app
                          app_homepage_url: ''
                          description: ''
                          help_url: ''
                          icons:
                            image_1024: /cdn/15258203/img/testapp/service_1024.png
                            image_128: /cdn/157258203/img/testapp/service_128.png
                            image_192: /cdn/157258203/img/testapp/service_192.png
                            image_32: /cdn/157658203/img/testapp/service_32.png
                            image_36: /cdn/157658203/img/testapp/service_36.png
                            image_48: /cdn/157658203/img/testapp/service_48.png
                            image_512: /cdn/15758203/img/testapp/service_512.png
                            image_64: /cdn/157658203/img/testapp/service_64.png
                            image_72: /cdn/157658203/img/testapp/service_72.png
                            image_96: /cdn/157658203/img/testapp/service_96.png
                          id: A061BL8RQ0
                          is_app_directory_approved: true
                          is_internal: false
                          name: Test App
                          privacy_policy_url: https://testapp.com/privacy
                        date_created: 1578956327
                        id: Ar0XJGFLMLS
                        message: test test again
                        previous_resolution: null
                        scopes:
                          - description: Post messages to specific channels in Slack
                            is_sensitive: false
                            name: incoming-webhook
                            token_type: user
                        team:
                          domain: acmecorp
                          id: T0M94LNUCR
                          name: Acme Corp
                        user:
                          email: janedoe@example.com
                          id: W08RA9G5HR
                          name: Jane Doe
                    ok: true
                    response_metadata:
                      next_cursor: ''
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: missing_scope
                    needed: admin.apps:read
                    ok: false
                    provided: read,client,admin,identify,post,apps
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.apps:read
      tags:
        - admin.apps.requests
        - admin
      summary: List app installation requests
      x-uuid: 209e5d1f-de3b-4e62-8ccf-fffe630df927
  /admin.apps.restrict:
    post:
      description: Restrict an application from being installed in a Slack workspace. This endpoint is used by administrators to prevent certain apps from being used by workspace members.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
      operationId: slack_web_api_admin_apps_restrict
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                app_id:
                  description: The id of the app to restrict.
                  type: string
                request_id:
                  description: The id of the request to restrict.
                  type: string
                team_id:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.apps:write
      tags:
        - admin.apps
        - admin
      summary: Restrict app installation
      x-uuid: d40c1ba3-9f0e-4617-9096-6f12298c36d5
  /admin.apps.restricted.list:
    get:
      description: Retrieve a list of applications that have been restricted from use within a specific organization or workspace. This helps administrators monitor which apps are not allowed.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
      operationId: slack_web_api_admin_apps_restricted_list
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: Set `cursor` to `next_cursor` returned by the previous call to list items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          schema:
            type: string
        - in: query
          name: enterprise_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    response_metadata:
                      next_cursor: ''
                    restricted_apps:
                      - app:
                          additional_info: ''
                          app_directory_url: https://myteam.enterprise.slack.com/apps/A0FDLP8M2L-my-test-app
                          app_homepage_url: https://example.com
                          description: A fun test app for Slack
                          help_url: https://example.com
                          icons:
                            image_1024: https://1433265338rl878408_eb57dbc818daa4ba15d6_1024.png
                            image_128: https://4332653438rl87808_eb57dbc818daa4ba15d6_128.png
                            image_192: https://4332653438rl87808_eb57dbc818daa4ba15d6_192.png
                            image_32: https://143326534038rl8788_eb57dbc818daa4ba15d6_32.png
                            image_36: https://143326534038rl8788_eb57dbc818daa4ba15d6_36.png
                            image_48: https://143326534038rl8788_eb57dbc818daa4ba15d6_48.png
                            image_512: https://4332653438rl87808_eb57dbc818daa4ba15d6_512.png
                            image_64: https://143326534038rl8788_eb57dbc818daa4ba15d6_64.png
                            image_72: https://143326534038rl8788_eb57dbc818daa4ba15d6_72.png
                            image_96: https://143326534038rl8788_eb57dbc818daa4ba15d6_96.png
                            image_original: https://143338rl8782653408_eb57dbc818daa4ba15d6_original.png
                          id: A0FDLP8M2L
                          is_app_directory_approved: true
                          is_internal: false
                          name: My Test App
                          privacy_policy_url: https://example.com
                        date_updated: 1574296721
                        last_resolved_by:
                          actor_id: W0G82LMFD
                          actor_type: user
                        scopes:
                          - description: Upload, edit, and delete files on the user‟s behalf
                            is_sensitive: true
                            name: files:write:user
                            token_type: user
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.apps:read
      tags:
        - admin.apps.restricted
        - admin
      summary: List restricted apps
      x-uuid: 4c43b355-520d-4063-a475-193f3e22e7b7
  /admin.conversations.archive:
    post:
      description: Archive a channel, whether public or private, within a Slack workspace. Archiving a channel hides it from the channel list but retains its history for future reference.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.archive
      operationId: slack_web_api_admin_conversations_archive
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to archive.
                  type: string
              required:
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.archive
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.archive schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.archive
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - channel_not_found
                      - channel_type_not_supported
                      - default_org_wide_channel
                      - already_archived
                      - cant_archive_general
                      - restricted_action
                      - could_not_archive_channel
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.archive error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Archive a channel
      x-uuid: 897574c1-55d4-467b-8157-53ca58a6d240
  /admin.conversations.convertToPrivate:
    post:
      description: Convert a public channel into a private one. This action restricts access to the channel, making it visible only to invited members.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.convertToPrivate
      operationId: slack_web_api_admin_conversations_convert_to_private
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to convert to private.
                  type: string
              required:
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.convertToPrivate
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.convertToPrivate schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.convertToPrivate
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - restricted_action
                      - name_taken
                      - channel_not_found
                      - channel_type_not_supported
                      - default_org_wide_channel
                      - method_not_supported_for_channel_type
                      - could_not_convert_channel
                      - external_channel_migrating
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.convertToPrivate error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Convert channel to private
      x-uuid: db3b8356-269b-4a8e-a4b4-ca07270d3137
  /admin.conversations.create:
    post:
      description: Create a new conversation channel in Slack, which can be either public or private. This allows administrators to set up new spaces for team communication.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.create
      operationId: slack_web_api_admin_conversations_create
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                description:
                  description: Description of the public or private channel to create.
                  type: string
                is_private:
                  description: When `true`, creates a private channel instead of a public channel
                  type: boolean
                name:
                  description: Name of the public or private channel to create.
                  type: string
                org_wide:
                  description: 'When `true`, the channel will be available org-wide. Note: if the channel is not `org_wide=true`, you must specify a `team_id` for this channel'
                  type: boolean
                team_id:
                  description: 'The workspace to create the channel in. Note: this argument is required unless you set `org_wide=true`.'
                  type: string
              required:
                - name
                - is_private
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    channel_id: C12345
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.create
                properties:
                  channel_id:
                    pattern: ^[C][A-Z0-9]{2,}$
                    title: Channel ID
                    type: string
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.create schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.create
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - name_taken
                      - restricted_action
                      - team_not_found
                      - invalid_team
                      - invalid_name
                      - could_not_create_channel
                      - team_id_or_org_required
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.create error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Create a new channel
      x-uuid: 455b1d34-18ce-45f7-af24-91ffcecc4b48
  /admin.conversations.delete:
    post:
      description: Permanently delete a channel, whether public or private, from a Slack workspace. This action removes the channel and its history completely.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.delete
      operationId: slack_web_api_admin_conversations_delete
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to delete.
                  type: string
              required:
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.delete
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.delete schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.delete
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - not_an_admin
                      - channel_not_found
                      - channel_type_not_supported
                      - default_org_wide_channel
                      - restricted_action
                      - could_not_delete_channel
                      - missing_scope
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.delete error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Delete a channel
      x-uuid: 9e909ead-4734-4060-afd4-1aafcc24ce5c
  /admin.conversations.disconnectShared:
    post:
      description: Disconnect a shared channel from one or more workspaces. This action removes the channel's connection to other workspaces while retaining its content in the original workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.disconnectShared
      operationId: slack_web_api_admin_conversations_disconnect_shared
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to be disconnected from some workspaces.
                  type: string
                leaving_team_ids:
                  description: The team to be removed from the channel. Currently only a single team id can be specified.
                  type: string
              required:
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.disconnectShared
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.rename schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.disconnectShared
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - not_an_admin
                      - not_an_enterprise
                      - channel_not_found
                      - not_supported
                      - team_not_found
                      - restricted_action
                      - missing_scope
                      - leaving_team_not_in_channel
                      - no_teams_to_disconnect
                      - leaving_team_required
                      - cannot_kick_team
                      - cannot_kick_home_team
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.disconnectShared error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Disconnect shared channel
      x-uuid: 0e6bb466-5c0a-4401-bc0b-b3b5ac86aa57
  /admin.conversations.ekm.listOriginalConnectedChannelInfo:
    get:
      description: List all channels that were once connected to other workspaces but have since been disconnected. This includes the original channel IDs, useful for key revocation with Enterprise Key Management (EKM).
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo
      operationId: slack_web_api_admin_conversations_ekm_list_original_connected_channel_info
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: A comma-separated list of channels to filter to.
          in: query
          name: channel_ids
          schema:
            type: string
        - description: A comma-separated list of the workspaces to which the channels you would like returned belong.
          in: query
          name: team_ids
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.
          in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                      - id: string
                        internal_team_ids: array
                        original_connected_channel_id: string
                        original_connected_host_id: string
                    ok: true
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:read
      tags:
        - admin.conversations.ekm
        - admin
      summary: List disconnected channels with EKM info
      x-uuid: 41ded63c-7f88-47fd-8083-1d0b4c6e6888
  /admin.conversations.getConversationPrefs:
    get:
      description: Retrieve the preferences and settings for a specific channel, whether public or private. This includes information on posting permissions and other channel-specific configurations.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getConversationPrefs
      operationId: slack_web_api_admin_conversations_get_conversation_prefs
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The channel to get preferences for.
          in: query
          name: channel_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.getConversationPrefs
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                  prefs:
                    properties:
                      can_thread:
                        properties:
                          type:
                            items:
                              type: string
                            type: array
                          user:
                            items:
                              type: string
                            type: array
                        type: object
                      who_can_post:
                        properties:
                          type:
                            items:
                              type: string
                            type: array
                          user:
                            items:
                              type: string
                            type: array
                        type: object
                    type: object
                required:
                  - ok
                title: admin.conversations.getConversationPrefs schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.getConversationPrefs
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - not_an_admin
                      - not_an_enterprise
                      - restricted_action
                      - missing_scope
                      - channel_not_found
                      - channel_type_not_supported
                      - could_not_get_conversation_prefs
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.unarchive error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:read
      tags:
        - admin.conversations
        - admin
      summary: Get channel preferences
      x-uuid: 8ca55dec-27a2-4ff8-af9e-fbd2dca6d3c4
  /admin.conversations.getTeams:
    get:
      description: Retrieve a list of all workspaces that a specific channel, public or private, is connected to within an Enterprise organization. This helps in managing channel access across multiple workspaces.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getTeams
      operationId: slack_web_api_admin_conversations_get_teams
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The channel to determine connected workspaces within the organization for.
          in: query
          name: channel_id
          required: true
          schema:
            type: string
        - description: Set `cursor` to `next_cursor` returned by the previous call to list items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both inclusive.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                      - T1234
                      - T5678
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.getTeams
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                  response_metadata:
                    additionalProperties: false
                    properties:
                      next_cursor:
                        type: string
                    required:
                      - next_cursor
                    type: object
                  team_ids:
                    items:
                      pattern: ^[T][A-Z0-9]{2,}$
                      title: Team ID
                      type: string
                    type: array
                required:
                  - ok
                  - team_ids
                title: admin.conversations.getTeams schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.getTeams
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - channel_not_found
                      - channel_type_not_supported
                      - unsupported_team_type
                      - restricted_action
                      - could_not_get_teams
                      - invalid_cursor
                      - invalid_limit
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.getTeams error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:read
      tags:
        - admin.conversations
        - admin
      summary: Get channel-connected workspaces
      x-uuid: a963ecec-2927-4b4a-a77d-f8f05b488e3b
  /admin.conversations.invite:
    post:
      description: Invite a user to join a specific channel, whether public or private, within a Slack workspace. This allows administrators to manage channel membership.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.invite
      operationId: slack_web_api_admin_conversations_invite
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel that the users will be invited to.
                  type: string
                user_ids:
                  description: The users to invite.
                  type: string
              required:
                - user_ids
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.invite
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.invite schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: Schema for error response from admin.conversations.invite
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - channel_not_found
                      - channel_type_not_supported
                      - default_org_wide_channel
                      - restricted_action
                      - user_must_be_admin
                      - failed_for_some_users
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.invite error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Invite user to channel
      x-uuid: 66936658-6388-47c4-9c4a-fe922f0a6641
  /admin.conversations.rename:
    post:
      description: Change the name of a channel, whether public or private, within a Slack workspace. This helps in keeping channel names relevant and up-to-date.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.rename
      operationId: slack_web_api_admin_conversations_rename
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to rename.
                  type: string
                name:
                  type: string
              required:
                - channel_id
                - name
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.rename
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: admin.conversations.rename schema
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: false
                description: Schema for error response from admin.conversations.rename
                properties:
                  error:
                    enum:
                      - feature_not_enabled
                      - channel_not_found
                      - channel_type_not_supported
                      - restricted_action
                      - could_not_rename_channel
                      - default_org_wide_channel
                      - name_taken
                    type: string
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                  - error
                title: admin.conversations.unarchive error schema
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
      summary: Rename a channel
      x-uuid: 4b0ce9cb-0386-40d8-aee2-cf9114693284
  /admin.conversations.restrictAccess.addGroup:
    post:
      description: Add an allowlist of Identity Provider (IDP) groups that are permitted to access a specific channel. This helps in managing access control for sensitive channels.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup
      operationId: slack_web_api_admin_conversations_restrict_access_add_group
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to link this group to.
                  type: string
                group_id:
                  description: The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org) ID to be an allowlist for the private channel.
                  type: string
                team_id:
                  description: The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization.
                  type: string
                token:
                  description: 'Authentication token. Requires scope: `admin.conversations:write`'
                  type: string
              required:
                - token
                - group_id
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations.restrictAccess
        - admin
      summary: Add IDP group allowlist to channel
      x-uuid: c1b2c5d0-e9d0-4dea-8703-57849098abc6
  /admin.conversations.restrictAccess.listGroups:
    get:
      description: List all Identity Provider (IDP) groups that have been linked to a specific channel. This helps administrators review and manage group-based access to channels.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups
      operationId: slack_web_api_admin_conversations_restrict_access_list_groups
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - in: query
          name: channel_id
          required: true
          schema:
            type: string
        - description: The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization.
          in: query
          name: team_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    group_ids:
                      - YOUR_GROUP_ID
                    ok: true
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:read
      tags:
        - admin.conversations.restrictAccess
        - admin
      summary: List IDP groups for channel
      x-uuid: 7305201a-72c4-4df2-a3f1-f604ae94a896
  /admin.conversations.restrictAccess.removeGroup:
    post:
      description: Remove an Identity Provider (IDP) group from the allowlist of a private channel. This action revokes the group's access to the channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup
      operationId: slack_web_api_admin_conversations_restrict_access_remove_group
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                channel_id:
                  description: The channel to remove the linked group from.
                  type: string
                group_id:
                  description: The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org) ID to remove from the private channel.
                  type: string
                team_id:
                  description: The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization.
                  type: string
                token:
                  description: 'Authentication token. Requires scope: `admin.conversations:write`'
                  type: string
              required:
                - token
                - team_id
                - group_id
                - channel_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - true
                    title: default success response
                    type: boolean
                required:
                  - ok
                title: Default success template
                type: object
          description: Typical success response
        default:
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a verbose schema is not available for this method.
                properties:
                  ok:
                    enum:
                      - false
                    title: default failure response
                    type: boolean
                required:
                  - ok
                title: Default error template
                type: object
          description: Typical error response
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations.restrictAccess
        - admin
      summary: Remove IDP group from channel
      x-uuid: f54bc5a3-cb3b-4c66-a077-419f2c1be685
  /admin.conversations.search:
    get:
      description: Search for channels, both public and private, within an Enterprise organization. This endpoint helps administrators locate specific channels based on various criteria.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.search
      operationId: slack_web_api_admin_conversations_search
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: Comma separated string of team IDs, signifying the workspaces to search through.
          in: query
          name: team_ids
          schema:
            type: string
        - description: Name of the the channel to query by.
          in: query
          name: query
          schema:
            type: string
        - description: Maximum number of items to be returned. Must be between 1 - 20 both inclusive. Default is 10.
          in: query
          name: limit
          schema:
            type: integer
        - description: Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: The type of channel to include or exclude in the search. For example `private` will search private channels, while `private_exclude` will exclude them. For a full list of types, check the [Types section](#types).
          in: query
          name: search_channel_types
          schema:
            type: string
        - description: 'Possible values are `relevant` (search ranking based on what we think is closest), `name` (alphabetical), `member_count` (number of users in the channel), and `created` (date channel was created). You can optionally pair this with the `sort_dir` arg to change how it is sorted '
          in: query
          name: sort
          schema:
            type: string
        - description: Sort direction. Possible values are `asc` for ascending order like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3, 2, 1) or (c, b, a)
          in: query
          name: sort_dir
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                      - created: 1449252889
                        creator: U012A3CDE
                        id: C012AB3CD
                        is_archived: false
                        is_channel: true
                        is_ext_shared: false
                        is_general: true
                        is_group: false
                        is_im: false
                        is_member: true
                        is_mpim: false
                        is_org_shared: false
                        is_pending_ext_shared: false
                        is_private: false
                        is_shared: false
                        name: general
                        name_normalized: general
                        num_members: 4
                        pending_shared: []
                        previous_names: []
                        purpose:
                          creator: ''
                          last_set: 0
                          value: This channel is for team-wide communication and announcements. All team members are in this channel.
                        topic:
                          creator: ''
                          last_set: 0
                          value: Company-wide announcements and work-based matters
                        unlinked: 0
                    ok: true
                    response_metadata:
                      next_cursor: dGVhbTpDMDYxRkE1UEI=
              schema:
                additionalProperties: false
                description: Schema for successful response of admin.conversations.search
                properties:
                  channels:
                    items:
                      additionalProperties: false
                      properties:
                        accepted_user:
                          pattern: ^[UW][A-Z0-9]{2,}$
                          title: User ID
                          type: string
                        created:
                          type: integer
                        creator:
                          pattern: ^[UW][A-Z0-9]{2,}$
                          title: User ID
                          type: string
                        id:
                          pattern: ^[C][A-Z0-9]{2,}$
                          title: Channel ID
                          type: string
                        is_archived:
                          type: boolean
                        is_channel:
                          type: boolean
                        is_frozen:
                          type: boolean
                        is_general:
                          type: boolean
                        is_member:
                          type: boolean
                        is_moved:
                          type: integer
                        is_mpim:
                          type: boolean
                        is_non_threadable:
                          type: boolean
                        is_org_shared:
                          type: boolean
                        is_pending_ext_shared:
                          type: boolean
                        is_private:
                          type: boolean
                        is_read_only:
                          type: boolean
                        is_shared:
                          type: boolean
                        is_thread_only:
                          type: boolean
                        last_read:
                          pattern: ^\d{10}\.\d{6}$
                          title: Timestamp in format 0123456789.012345
                          type: string
                        latest:
                          items:
                            anyOf:
                              - additionalProperties: false
                                properties:
                                  attachments:
                                    items:
                                      additionalProperties: false
                                      properties:
                                        fallback:
                                          type: string
                                        id:
                                          type: integer
                                        image_bytes:
                                          type: integer
                                        image_height:
                                          type: integer
                                        image_url:
                                          type: string
                                        image_width:
                                          type: integer
                                      required:
                                        - id
                                      type: object
                                    minItems: 1
                                    type: array
                                    uniqueItems: true
                                  blocks:
                                    description: This is a very loose definition, in the future, we'll populate this with deeper schema in this definition namespace.
                                    items:
                                      additionalProperties: true
                                      properties:
                                        type:
                                          type: string
                                      required:
                                        - type
                                      type: object
                                    title: Block Kit blocks
                                    type: array
                                  bot_id:
                                    items:
                                      anyOf:
                                        - pattern: ^B[A-Z0-9]{8,}$
                                          title: Bot User ID
                                          type: string
                                        - nullable: true
                                          title: Nil bot_id set when display_as_bot is false
                                  bot_profile:
                                    additionalProperties: false
                                    properties:
                                      app_id:
                                        pattern: ^A[A-Z0-9]{1,}$
                                        title: App ID
                                        type: string
                                      deleted:
                                        type: boolean
                                      icons:
                                        additionalProperties: false
                                        properties:
                                          image_36:
                                            format: uri
                                            type: string
                                          image_48:
                                            format: uri
                                            type: string
                                          image_72:
                                            format: uri
                                            type: string
                                        required:
                                          - image_36
                                          - image_48
                                          - image_72
                                        type: object
                                      id:
                                        pattern: ^B[A-Z0-9]{8,}$
                                        title: Bot User ID
                                        type: string
                                      name:
                                        type: string
                                      team_id:
                                        pattern: ^[T][A-Z0-9]{2,}$
                                        title: Team ID
                                        type: string
                                      updated:
                                        type: integer
                                    required:
                                      - id
                                      - deleted
                                      - name
                                      - updated
                                      - app_id
                                      - icons
                                      - team_id
                                    title: Bot Profile Object
                                    type: object
                                  client_msg_id:
                                    type: string
                                  comment:
                                    additionalProperties: false
                                    properties:
                                      comment:
                                        type: string
                                      created:
                                        type: integer
                                      id:
                                        pattern: ^Fc[A-Z0-9]{8,}$
                                        title: File Comment ID
                                        type: string
                                      is_intro:
                                        type: boolean
                                      is_starred:
                                        type: boolean
                                      num_stars:
                                        type: integer
                                      pinned_info:
                                        additionalProperties: false
                                        title: Info for a pinned item
                                        type: object
                                      pinned_to:
                                        items:
                                          pattern: ^[CGD][A-Z0-9]{8,}$
                                          title: Channel-like conversation ID
                                          type: string
                                        type: array
                                      reactions:
                                        items:
                                          additionalProperties: true
                                          properties:
                                            count:
                                              type: integer
                                            name:
                                              type: string
                                            users:
                                              items:
                                                pattern: ^[UW][A-Z0-9]{2,}$
                                                title: User ID
                                                type: string
                                              type: array
                                          required:
                                            - name
                                            - users
                                            - count
                                          title: Reaction object
                                          type: object
                                        type: array
                                      timestamp:
                                        type: integer
                                      user:
                                        pattern: ^[UW][A-Z0-9]{2,}$
                                        title: User ID
                                        type: string
                                    required:
                                      - id
                                      - created
                                      - timestamp
                                      - user
                                      - is_intro
                                      - comment
                                    title: File Comment Object
                                    type: object
                                  display_as_bot:
                                    type: boolean
                                  file:
                                    additionalProperties: false
                                    properties:
                                      channels:
                                        items:
                                          pattern: ^[C][A-Z0-9]{2,}$
                                          title: Channel ID
                                          type: string
                                        type: array
                                        uniqueItems: true
                                      comments_count:
                                        type: integer
                                      created:
                                        type: integer
                                      date_delete:
                                        type: integer
                                      display_as_bot:
                                        type: boolean
                                      editable:
                                        type: boolean
                                      editor:
                                        pattern: ^[UW][A-Z0-9]{2,}$
                                        title: User ID
                                        type: string
                                      external_id:
                                        type: string
                                      external_type:
                                        type: string
                                      external_url:
                                        format: uri
                                        type: string
                                      filetype:
                                        type: string
                                      groups:
                                        items:
                                          pattern: ^[G][A-Z0-9]{8,}$
                                          title: Private Channel ID
                                          type: string
                                        type: array
                                        uniqueItems: true
                                      has_rich_preview:
                                        type: boolean
                                      id:
                                        pattern: ^[F][A-Z0-9]{8,}$
                                        title: File ID
                                        type: string
                                      image_exif_rotation:
                                        type: integer
                                      ims:
                                        items:
                                          pattern: ^[D][A-Z0-9]{8,}$
                                          title: Direct Message Channel ID
                                          type: string
                                        type: array
                                        uniqueItems: true
                                      is_external:
                                        type: boolean
                                      is_public:
                                        type: boolean
                                      is_starred:
                                        type: boolean
                                      is_tombstoned:
                                        type: boolean
                                      last_editor:
                                        pattern: ^[UW][A-Z0-9]{2,}$
                                        title: User ID
                                        type: string
                                      mimetype:
                                        type: string
                                      mode:
                                        type: string
                                      name:
                                        type: string
                                      non_owner_editable:
                                        type: boolean
                                      num_stars:
                                        type: integer
                                      original_h:
                                        type: integer
                                      original_w:
                                        type: integer
                                      permalink:
                                        format: uri
                                        type: string
                                      permalink_public:
                                        format: uri
                                        type: string
                                      pinned_info:
                                        additionalProperties: false
                                        title: Info for a pinned item
                                        type: object
                                      pinned_to:
                                        items:
                                          pattern: ^[CGD][A-Z0-9]{8,}$
                                          title: Channel-like conversation ID
                                          type: string
                                        type: array
                                      pretty_type:
                                        type: string
                                      preview:
                                        type: string
                                      public_url_shared:
                                        type: boolean
                                      reactions:
                                        items:
                                          additionalProperties: true
                                          properties:
                                            count:
                                              type: integer
                                            name:
                                              type: string
                                            users:
                                              items:
                                                pattern: ^[UW][A-Z0-9]{2,}$
                                                title: User ID
                                                type: string
                                              type: array
                                          required:
                                            - name
                                            - users
                                            - count
                                          title: Reaction object
                                          type: object
                                        type: array
                                      shares:
                                        additionalProperties: false
                                        properties:
                                          private:
                                            additionalProperties: false
                                          public:
                                            additionalProperties: false
                                        type: object
                                      size:
                                        type: integer
                                      source_team:
                                        pattern: ^[T][A-Z0-9]{2,}$
                                        title: Team ID
                                        type: string
                                      state:
                                        type: string
                                      thumb_1024:
                                        format: uri
                                        type: string
                                      thumb_1024_h:
                                        type: integer
                                      thumb_1024_w:
                                        type: integer
                                      thumb_160:
                                        format: uri
                                        type: string
                                      thumb_360:
                                        format: uri
                                        type: string
                                      thumb_360_h:
                                        type: integer
                                      thumb_360_w:
                                        type: integer
                                      thumb_480:
                                        format: uri
                                        type: string
                                      thumb_480_h:
                                        type: integer
                                      thumb_480_w:
                                        type: integer
                                      thumb_64:
                                        format: uri
                                        type: string
                                      thumb_720:
                                        format: uri
                                        type: string
                                      thumb_720_h:
                                        type: integer
                                      thumb_720_w:
                                        type: integer
                                      thumb_80:
                                        format: uri
                                        type: string
                                      thumb_800:
                                        format: uri
                                        type: string
                                      thumb_800_h:
                                        type: integer
                                      thumb_800_w:
                                        type: integer
                                      thumb_960:
                                        format: uri
                                        type: string
                                      thumb_960_h:
                                        type: integer
                                      thumb_960_w:
                                        type: integer
                                      thumb_tiny:
                                        type: string
                                      timestamp:
                                        type: integer
                                      title:
                                        type: string
                                      updated:
                                        type: integer
                                      url_private:
                                        format: uri
                                        type: string
                                      url_private_download:
                                        format: uri
                                        type: string
                                      user:
                                        type: string
                                      user_team:
                                        pattern: ^[T][A-Z0-9]{2,}$
                                        title: Team ID
                                        type: string
                                      username:
                                        type: string
                                    title: file object
                                    type: object
                                  files:
                                    items:
                                      additionalProperties: false
                                      properties:
                                        channels:
                                          items:
                                            pattern: ^[C][A-Z0-9]{2,}$
                                            title: Channel ID
                                            type: string
                                          type: array
                                          uniqueItems: true
                                        comments_count:
                                          type: integer
                                        created:
                                          type: integer
                                        date_delete:
                                          type: integer
                                        display_as_bot:
                                          type: boolean
                                        editable:
                                          type: boolean
                                        editor:
                                          pattern: ^[UW][A-Z0-9]{2,}$
                                          title: User ID
                                          type: string
                                        external_id:
                                          type: string
                                        external_type:
                                          type: string
                                        external_url:
                                          format: uri
                                          type: string
                                        filetype:
                                          type: string
                                        groups:
                                          items:
                                            pattern: ^[G][A-Z0-9]{8,}$
                                            title: Private Channel ID
                                            type: string
                                          type: array
                                          uniqueItems: true
                                        has_rich_preview:
                                          type: boolean
                                        id:
                                          pattern: ^[F][A-Z0-9]{8,}$
                                          title: File ID
                                          type: string
                                        image_exif_rotation:
                                          type: integer
                                        ims:
                                          items:
                                            pattern: ^[D][A-Z0-9]{8,}$
                                            title: Direct Message Channel ID
                                            type: string
                                          type: array
                                          uniqueItems: true
                                        is_external:
                                          type: boolean
                                        is_public:
                                          type: boolean
                                        is_starred:
                                          type: boolean
                                        is_tombstoned:
                                          type: boolean
                                        last_editor:
                                          pattern: ^[UW][A-Z0-9]{2,}$
                                          title: User ID
                                          type: string
                                        mimetype:
                                          type: string
                                        mode:
                                          type: string
                                        name:
                                          type: string
                                        non_owner_editable:
                                          type: boolean
                                        num_stars:
                                          type: integer
                                        original_h:
                                          type: integer
                                        original_w:
                                          type: integer
                                        permalink:
                                          format: uri
                                          type: string
                                        permalink_public:
                                          format: uri
                                          type: string
                                        pinned_info:
                                          additionalProperties: false
                                          title: Info for a pinned item
                                          type: object
                                        pinned_to:
                                          items:
                                            pattern: ^[CGD][A-Z0-9]{8,}$
                                            title: Channel-like conversation ID
                                            type: string
                                          type: array
                                        pretty_type:
                                          type: string
                                        preview:
                                          type: string
                                        public_url_shared:
                                          type: boolean
                                        reactions:
                                          items:
                                            additionalProperties: true
                                            properties:
                                              count:
                                                type: integer
                                              name:
                                                type: string
                                              users:
                                                items:
                                                  pattern: ^[UW][A-Z0-9]{2,}$
                                                  title: User ID
                                                  type: string
[...]
