{
  "openapi": "3.0.0",
  "info": {
    "title": "Alpaca Market Data API",
    "description": "Access real-time and historical market data for US equities, options, crypto, and foreign exchange data through the Alpaca REST and WebSocket APIs. There are APIs for Stock Pricing, Option Pricing, Crypto Pricing, Forex, Logos, Corporate Actions, Screener, and News.\n",
    "version": "2.0.0",
    "contact": {
      "name": "Alpaca Support",
      "email": "support@alpaca.markets",
      "url": "https://alpaca.markets/support"
    },
    "termsOfService": "https://s3.amazonaws.com/files.alpaca.markets/disclosures/library/TermsAndConditions.pdf"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://data.alpaca.markets"
    },
    {
      "description": "Sandbox",
      "url": "https://data.sandbox.alpaca.markets"
    }
  ],
  "tags": [
    {
      "name": "Stock"
    },
    {
      "name": "Crypto"
    },
    {
      "name": "Crypto perpetual futures"
    },
    {
      "name": "Forex"
    },
    {
      "name": "Logos"
    },
    {
      "name": "Screener"
    },
    {
      "name": "News"
    },
    {
      "name": "Corporate Actions"
    },
    {
      "name": "Option"
    }
  ],
  "paths": {
    "/v1/corporate-actions": {
      "get": {
        "summary": "Corporate actions",
        "tags": [
          "Corporate actions"
        ],
        "parameters": [
          {
            "name": "symbols",
            "description": "A comma-separated list of symbols.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "AAPL,TSLA"
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "forward_split,reverse_split",
            "description": "A comma-separated list of types. If not provided, search all types.\n\nThe following types are supported:\n  - reverse_split\n  - forward_split\n  - unit_split\n  - cash_dividend\n  - stock_dividend\n  - spin_off\n  - cash_merger\n  - stock_merger\n  - stock_and_cash_merger\n  - redemption\n  - name_change\n  - worthless_removal\n  - rights_distribution\n"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "examples": {
              "date": {
                "value": "2024-08-14"
              }
            },
            "description": "The inclusive start of the interval. Format: YYYY-MM-DD. Default: current day.\n"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "examples": {
              "date": {
                "value": "2024-08-25",
                "summary": "Date"
              }
            },
            "description": "The inclusive end of the interval. Format: YYYY-MM-DD. Default: current day.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of corporate actions to return in a response.\nThe limit applies to the total number of data points, not the count per symbol!\nUse `next_page_token` to fetch the next set of corporate actions.\n"
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The pagination token from which to continue. The value to pass here is returned in specific requests when more data is available, usually because of a response result limit.\n"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort data in ascending or descending order.",
            "schema": {
              "type": "string",
              "description": "Sort data in ascending or descending order.",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc",
              "x-go-name": "TypeSort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "corporate_actions": {
                      "type": "object",
                      "properties": {
                        "reverse_splits": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Reverse split.",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "new_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "old_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "ex_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The ex-date marks the cutoff point for shareholders to be credited."
                              },
                              "record_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "symbol",
                              "new_rate",
                              "old_rate",
                              "process_date",
                              "ex_date"
                            ],
                            "example": {
                              "ex_date": "2023-08-24",
                              "new_rate": 1,
                              "old_rate": 50,
                              "process_date": "2023-08-24",
                              "record_date": "2023-08-24",
                              "symbol": "MNTS"
                            }
                          }
                        },
                        "forward_splits": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Forward split.",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "new_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "old_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "ex_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The ex-date marks the cutoff point for shareholders to be credited."
                              },
                              "record_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "due_bill_redemption_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "symbol",
                              "new_rate",
                              "old_rate",
                              "process_date",
                              "ex_date"
                            ],
                            "example": {
                              "due_bill_redemption_date": "2023-08-23",
                              "ex_date": "2023-08-22",
                              "new_rate": 2,
                              "old_rate": 1,
                              "payable_date": "2023-08-21",
                              "process_date": "2023-08-22",
                              "record_date": "2023-08-14",
                              "symbol": "SRE"
                            }
                          }
                        },
                        "unit_splits": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Unit split.",
                            "properties": {
                              "old_symbol": {
                                "type": "string"
                              },
                              "old_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "new_symbol": {
                                "type": "string"
                              },
                              "new_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "alternate_symbol": {
                                "type": "string"
                              },
                              "alternate_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "effective_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The effective date marks the cutoff point for shareholders to be credited."
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "old_symbol",
                              "old_rate",
                              "new_symbol",
                              "new_rate",
                              "alternate_symbol",
                              "alternate_rate",
                              "process_date",
                              "effective_date"
                            ],
                            "example": {
                              "alternate_rate": 0.3333,
                              "alternate_symbol": "LVROW",
                              "effective_date": "2023-03-01",
                              "new_rate": 1,
                              "new_symbol": "LVRO",
                              "old_rate": 1,
                              "old_symbol": "TPBAU",
                              "process_date": "2023-03-01"
                            }
                          }
                        },
                        "stock_dividends": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Stock dividend.",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "ex_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The ex-date marks the cutoff point for shareholders to be credited."
                              },
                              "record_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "symbol",
                              "rate",
                              "process_date",
                              "ex_date"
                            ],
                            "example": {
                              "ex_date": "2023-05-19",
                              "payable_date": "2023-05-05",
                              "process_date": "2023-05-19",
                              "rate": 0.05,
                              "record_date": "2023-05-22",
                              "symbol": "MSBC"
                            }
                          }
                        },
                        "cash_dividends": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Cash dividend.",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "special": {
                                "type": "boolean"
                              },
                              "foreign": {
                                "type": "boolean"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "ex_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The ex-date marks the cutoff point for shareholders to be credited."
                              },
                              "record_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "due_bill_on_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "due_bill_off_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "symbol",
                              "rate",
                              "special",
                              "foreign",
                              "process_date",
                              "ex_date"
                            ],
                            "example": {
                              "ex_date": "2023-05-04",
                              "foreign": false,
                              "payable_date": "2023-05-19",
                              "process_date": "2023-05-19",
                              "rate": 0.125,
                              "record_date": "2023-05-05",
                              "special": false,
                              "symbol": "FCF"
                            }
                          }
                        },
                        "spin_offs": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Spin-off.",
                            "properties": {
                              "source_symbol": {
                                "type": "string"
                              },
                              "source_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "new_symbol": {
                                "type": "string"
                              },
                              "new_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "ex_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The ex-date marks the cutoff point for shareholders to be credited."
                              },
                              "record_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "due_bill_redemption_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "source_symbol",
                              "source_rate",
                              "new_symbol",
                              "new_rate",
                              "process_date",
                              "ex_date"
                            ],
                            "example": {
                              "ex_date": "2023-08-15",
                              "new_rate": 1,
                              "new_symbol": "SRM",
                              "process_date": "2023-08-15",
                              "record_date": "2023-08-15",
                              "source_rate": 19.35,
                              "source_symbol": "JUPW"
                            }
                          }
                        },
                        "cash_mergers": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Cash merger.",
                            "properties": {
                              "acquirer_symbol": {
                                "type": "string"
                              },
                              "acquiree_symbol": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "effective_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The effective date marks the cutoff point for shareholders to be credited."
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "acquiree_symbol",
                              "rate",
                              "process_date",
                              "effective_date"
                            ],
                            "example": {
                              "acquiree_symbol": "GLOP",
                              "effective_date": "2023-07-17",
                              "payable_date": "2023-07-17",
                              "process_date": "2023-07-17",
                              "rate": 5.37
                            }
                          }
                        },
                        "stock_mergers": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Stock merger.",
                            "properties": {
                              "acquirer_symbol": {
                                "type": "string"
                              },
                              "acquirer_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "acquiree_symbol": {
                                "type": "string"
                              },
                              "acquiree_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "effective_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The effective date marks the cutoff point for shareholders to be credited."
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "acquirer_symbol",
                              "acquirer_rate",
                              "acquiree_symbol",
                              "acquiree_rate",
                              "process_date",
                              "effective_date"
                            ],
                            "example": {
                              "acquiree_rate": 1,
                              "acquiree_symbol": "LSI",
                              "acquirer_rate": 0.895,
                              "acquirer_symbol": "EXR",
                              "effective_date": "2023-07-20",
                              "payable_date": "2023-07-20",
                              "process_date": "2023-07-20"
                            }
                          }
                        },
                        "stock_and_cash_mergers": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Stock and cash merger.",
                            "properties": {
                              "acquirer_symbol": {
                                "type": "string"
                              },
                              "acquirer_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "acquiree_symbol": {
                                "type": "string"
                              },
                              "acquiree_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "cash_rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "effective_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The effective date marks the cutoff point for shareholders to be credited."
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "acquirer_symbol",
                              "acquirer_rate",
                              "acquiree_symbol",
                              "acquiree_rate",
                              "cash_rate",
                              "process_date",
                              "effective_date"
                            ],
                            "example": {
                              "acquiree_rate": 1,
                              "acquiree_symbol": "MLVF",
                              "acquirer_rate": 0.7733,
                              "acquirer_symbol": "FRBA",
                              "cash_rate": 7.8,
                              "effective_date": "2023-07-18",
                              "payable_date": "2023-07-18",
                              "process_date": "2023-07-18"
                            }
                          }
                        },
                        "redemptions": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Redemption.",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "symbol",
                              "rate",
                              "process_date"
                            ],
                            "example": {
                              "payable_date": "2023-06-13",
                              "process_date": "2023-06-13",
                              "rate": 0.141134,
                              "symbol": "ORPHY"
                            }
                          }
                        },
                        "name_changes": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Name change.",
                            "properties": {
                              "old_symbol": {
                                "type": "string"
                              },
                              "new_symbol": {
                                "type": "string"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              }
                            },
                            "required": [
                              "old_symbol",
                              "new_symbol",
                              "process_date"
                            ],
                            "example": {
                              "new_symbol": "VFS",
                              "old_symbol": "BSAQ",
                              "process_date": "2023-08-15"
                            }
                          }
                        },
                        "worthless_removals": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Worthless removal.",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              }
                            },
                            "required": [
                              "symbol",
                              "process_date"
                            ],
                            "example": {
                              "symbol": "ATNXQ",
                              "process_date": "2023-10-11"
                            }
                          }
                        },
                        "rights_distributions": {
                          "type": "array",
                          "x-go-type-skip-optional-pointer": true,
                          "items": {
                            "type": "object",
                            "description": "Rights distribution.",
                            "properties": {
                              "source_symbol": {
                                "type": "string"
                              },
                              "new_symbol": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "format": "double"
                              },
                              "process_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date when the corporate action is processed by Alpaca."
                              },
                              "ex_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The ex-date marks the cutoff point for shareholders to be credited."
                              },
                              "record_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "payable_date": {
                                "type": "string",
                                "format": "date"
                              },
                              "expiration_date": {
                                "type": "string",
                                "format": "date"
                              }
                            },
                            "required": [
                              "source_symbol",
                              "new_symbol",
                              "rate",
                              "process_date",
                              "ex_date",
                              "payable_date"
                            ],
                            "example": {
                              "source_symbol": "IFN",
                              "new_symbol": "IFN.RTWI",
                              "rate": 1,
                              "ex_date": "2024-04-17",
                              "record_date": "2024-04-18",
                              "payable_date": "2024-04-19",
                              "process_date": "2024-04-19",
                              "expiration_date": "2024-05-14"
                            }
                          }
                        }
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "Pagination token for next page.",
                      "nullable": true
                    }
                  },
                  "required": [
                    "corporate_actions",
                    "next_page_token"
                  ]
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_corporate_actions",
        "description": "This endpoint provides data about the corporate actions for each given symbol over a specified time period.\n"
      }
    },
    "/v1beta1/forex/latest/rates": {
      "get": {
        "summary": "Latest rates for currency pairs",
        "tags": [
          "Forex"
        ],
        "parameters": [
          {
            "name": "currency_pairs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A comma-separated string with currency pairs.",
              "example": "USDJPY,USDMXN",
              "x-go-name": "TypeCurrencyPairs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response object of the latest forex rates.",
                  "type": "object",
                  "properties": {
                    "rates": {
                      "type": "object",
                      "additionalProperties": {
                        "description": "A foreign exchange rate between two currencies at a given time.",
                        "type": "object",
                        "example": {
                          "bp": 127.702,
                          "mp": 127.757,
                          "ap": 127.763,
                          "t": "2022-04-20T18:23:00Z"
                        },
                        "properties": {
                          "bp": {
                            "type": "number",
                            "format": "double",
                            "x-go-name": "BidPrice",
                            "description": "The last bid price value of the currency at the end of the timeframe."
                          },
                          "mp": {
                            "type": "number",
                            "format": "double",
                            "x-go-name": "MidPrice",
                            "description": "The last mid price value of the currency at the end of the timeframe."
                          },
                          "ap": {
                            "type": "number",
                            "format": "double",
                            "x-go-name": "AskPrice",
                            "description": "The last ask price value of the currency at the end of the timeframe."
                          },
                          "t": {
                            "type": "string",
                            "format": "date-time",
                            "x-go-name": "Timestamp",
                            "description": "Timestamp of the rate."
                          }
                        },
                        "required": [
                          "bp",
                          "mp",
                          "ap",
                          "t"
                        ]
                      }
                    }
                  },
                  "required": [
                    "rates"
                  ]
                },
                "examples": {
                  "USDJPY": {
                    "value": {
                      "rates": {
                        "USDJPY": {
                          "bp": 127.752,
                          "mp": 127.779,
                          "ap": 128.112,
                          "t": "2022-05-20T05:38:41.311530885Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_latest_rates",
        "description": "Get the latest forex rates for the given currency pairs.\n"
      }
    },
    "/v1beta1/forex/rates": {
      "get": {
        "summary": "Historical rates for currency pairs",
        "tags": [
          "Forex"
        ],
        "parameters": [
          {
            "name": "currency_pairs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A comma-separated string with currency pairs.",
              "example": "USDJPY,USDMXN",
              "x-go-name": "TypeCurrencyPairs"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1Min",
              "description": "The sampling interval of the currency rates. For example, 5S returns forex rates sampled every five seconds.\nYou can use the following values:\n - `5Sec` or `5S`\n - `1Min` or `1T`\n - `1Day` or `1D`\n",
              "x-go-name": "TypeTimeframe"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "RFC-3339 second": {
                "value": "2024-01-03T00:00:00Z",
                "summary": "RFC-3339 date-time with second accuracy"
              },
              "RFC-3339 nanosecond": {
                "value": "2024-01-03T01:02:03.123456789Z",
                "summary": "RFC-3339 date-time with nanosecond accuracy"
              },
              "RFC-3339 with timezone": {
                "value": "2024-01-03T09:30:00-04:00",
                "summary": "RFC-3339 date-time with time zone"
              },
              "date": {
                "value": "2024-01-03",
                "summary": "Date"
              }
            },
            "description": "The inclusive start of the interval. Format: RFC-3339 or YYYY-MM-DD.\nDefault: the beginning of the current day.\n"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "RFC-3339 second": {
                "value": "2024-01-04T00:00:00Z",
                "summary": "RFC-3339 date-time with second accuracy"
              },
              "RFC-3339 nanosecond": {
                "value": "2024-01-04T01:02:03.123456789Z",
                "summary": "RFC-3339 date-time with nanosecond accuracy"
              },
              "RFC-3339 with timezone": {
                "value": "2024-01-04T09:30:00-04:00",
                "summary": "RFC-3339 date-time with time zone"
              },
              "date": {
                "value": "2024-01-04",
                "summary": "Date"
              }
            },
            "description": "The inclusive end of the interval. Format: RFC-3339 or YYYY-MM-DD.\nDefault: the current time.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1000
            },
            "description": "The maximum number of data points to return in the response page.\nThe API may return less, even if there are more available data points in the requested interval.\nAlways check the `next_page_token` for more pages.\nThe limit applies to the total number of data points, not per symbol!\n"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort data in ascending or descending order.",
            "schema": {
              "type": "string",
              "description": "Sort data in ascending or descending order.",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc",
              "x-go-name": "TypeSort"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The pagination token from which to continue. The value to pass here is returned in specific requests when more data is available, usually because of a response result limit.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rates": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "description": "A foreign exchange rate between two currencies at a given time.",
                          "type": "object",
                          "example": {
                            "bp": 127.702,
                            "mp": 127.757,
                            "ap": 127.763,
                            "t": "2022-04-20T18:23:00Z"
                          },
                          "properties": {
                            "bp": {
                              "type": "number",
                              "format": "double",
                              "x-go-name": "BidPrice",
                              "description": "The last bid price value of the currency at the end of the timeframe."
                            },
                            "mp": {
                              "type": "number",
                              "format": "double",
                              "x-go-name": "MidPrice",
                              "description": "The last mid price value of the currency at the end of the timeframe."
                            },
                            "ap": {
                              "type": "number",
                              "format": "double",
                              "x-go-name": "AskPrice",
                              "description": "The last ask price value of the currency at the end of the timeframe."
                            },
                            "t": {
                              "type": "string",
                              "format": "date-time",
                              "x-go-name": "Timestamp",
                              "description": "Timestamp of the rate."
                            }
                          },
                          "required": [
                            "bp",
                            "mp",
                            "ap",
                            "t"
                          ]
                        }
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "Pagination token for next page.",
                      "nullable": true
                    }
                  },
                  "required": [
                    "rates",
                    "next_page_token"
                  ]
                },
                "examples": {
                  "USDJPY": {
                    "value": {
                      "next_page_token": "VVNESlBZfDIwMjItMDEtMDNUMDA6MDM6MDBa",
                      "rates": {
                        "USDJPY": [
                          {
                            "bp": 114.192,
                            "mp": 115.144,
                            "ap": 115.18,
                            "t": "2022-01-03T00:01:00Z"
                          },
                          {
                            "bp": 114.189,
                            "mp": 115.138,
                            "ap": 115.185,
                            "t": "2022-01-03T00:02:00Z"
                          },
                          {
                            "bp": 115.122,
                            "mp": 115.131,
                            "ap": 115.148,
                            "t": "2022-01-03T00:03:00Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_rates",
        "description": "Get historical forex rates for the given currency pairs in the given time interval and at the given timeframe (snapshot frequency).\n"
      }
    },
    "/v1beta1/logos/{symbol}": {
      "get": {
        "summary": "Logos",
        "tags": [
          "Logos"
        ],
        "parameters": [
          {
            "name": "symbol",
            "description": "A unique series of letters assigned to a security for trading purposes.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          },
          {
            "name": "placeholder",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_logos",
        "description": "Get the image of the company logo for the given symbol."
      }
    },
    "/v1beta1/news": {
      "get": {
        "summary": "News articles",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "RFC-3339 second": {
                "value": "2024-01-03T00:00:00Z",
                "summary": "RFC-3339 date-time with second accuracy"
              },
              "RFC-3339 nanosecond": {
                "value": "2024-01-03T01:02:03.123456789Z",
                "summary": "RFC-3339 date-time with nanosecond accuracy"
              },
              "RFC-3339 with timezone": {
                "value": "2024-01-03T09:30:00-04:00",
                "summary": "RFC-3339 date-time with time zone"
              },
              "date": {
                "value": "2024-01-03",
                "summary": "Date"
              }
            },
            "description": "The inclusive start of the interval. Format: RFC-3339 or YYYY-MM-DD.\nDefault: the beginning of the current day.\n"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "RFC-3339 second": {
                "value": "2024-01-04T00:00:00Z",
                "summary": "RFC-3339 date-time with second accuracy"
              },
              "RFC-3339 nanosecond": {
                "value": "2024-01-04T01:02:03.123456789Z",
                "summary": "RFC-3339 date-time with nanosecond accuracy"
              },
              "RFC-3339 with timezone": {
                "value": "2024-01-04T09:30:00-04:00",
                "summary": "RFC-3339 date-time with time zone"
              },
              "date": {
                "value": "2024-01-04",
                "summary": "Date"
              }
            },
            "description": "The inclusive end of the interval. Format: RFC-3339 or YYYY-MM-DD.\nDefault: the current time.\n"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort articles by updated date.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "AAPL,TSLA,BTCUSD"
            },
            "description": "A comma-separated list of symbols for which to query news."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Limit of news items to be returned for a result page.",
            "example": 10
          },
          {
            "name": "include_content",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Boolean indicator to include content for news articles (if available)."
          },
          {
            "name": "exclude_contentless",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Boolean indicator to exclude news articles that do not contain content."
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The pagination token from which to continue. The value to pass here is returned in specific requests when more data is available, usually because of a response result limit.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "news-response-example": {
                    "value": {
                      "news": [
                        {
                          "id": 24843171,
                          "headline": "Apple Leader in Phone Sales in China for Second Straight Month in November With 23.6% Share, According to Market Research Data",
                          "author": "Charles Gross",
                          "created_at": "2021-12-31T11:08:42Z",
                          "updated_at": "2021-12-31T11:08:43Z",
                          "summary": "This headline-only article is meant to show you why a stock is moving, the most difficult aspect of stock trading",
                          "content": "<p>This headline-only article is meant to show you why a stock is moving, the most difficult aspect of stock trading....</p>",
                          "url": "https://www.benzinga.com/news/21/12/24843171/apple-leader-in-phone-sales-in-china-for-second-straight-month-in-november-with-23-6-share-according",
                          "images": [],
                          "symbols": [
                            "AAPL"
                          ],
                          "source": "benzinga"
                        }
                      ],
                      "next_page_token": "MTY0MDk0ODkyMzAwMDAwMDAwMHwyNDg0MzE3MQ=="
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "news": {
                      "type": "array",
                      "items": {
                        "description": "Model representing a news article from the Alpaca Market Data API.",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "News article ID."
                          },
                          "headline": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Headline or title of the article."
                          },
                          "author": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Original author of news article."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date article was created (RFC-3339)."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date article was updated (RFC-3339)."
                          },
                          "summary": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Summary text for the article (may be first sentence of content)."
                          },
                          "content": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Content of the news article (might contain HTML)."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL of article (if applicable).",
                            "nullable": true
                          },
                          "images": {
                            "type": "array",
                            "uniqueItems": true,
                            "description": "List of images (URLs) related to given article (may be empty).",
                            "items": {
                              "description": "A model representing images for a news article. Simply a URL to the image along with a size parameter suggesting the display size of the image.",
                              "type": "object",
                              "properties": {
                                "size": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Possible values for size are thumb, small and large.",
                                  "example": "thumb",
                                  "enum": [
                                    "thumb",
                                    "small",
                                    "large"
                                  ]
                                },
                                "url": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "URL to image from news article.",
                                  "format": "uri"
                                }
                              },
                              "required": [
                                "size",
                                "url"
                              ]
                            }
                          },
                          "symbols": {
                            "type": "array",
                            "description": "List of related or mentioned symbols.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "source": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Source where the news originated from (e.g. Benzinga)."
                          }
                        },
                        "required": [
                          "id",
                          "headline",
                          "author",
                          "created_at",
                          "updated_at",
                          "summary",
                          "content",
                          "images",
                          "symbols",
                          "source"
                        ]
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "Pagination token for next page.",
                      "nullable": true
                    }
                  },
                  "required": [
                    "news",
                    "next_page_token"
                  ]
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_news",
        "description": "Returns latest news articles across stocks and crypto. By default, returns latest 10 news articles.",
        "tags": [
          "News"
        ]
      }
    },
    "/v1beta1/options/bars": {
      "get": {
        "summary": "Historical bars",
        "tags": [
          "Option"
        ],
        "parameters": [
          {
            "name": "symbols",
            "description": "A comma-separated list of contract symbols with a limit of 100.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL241220C00300000,AAPL240315C00225000"
          },
          {
            "name": "timeframe",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "x-go-name": "TimeFrame",
            "example": "1Min",
            "description": "The timeframe represented by each bar in aggregation.\nYou can use any of the following values:\n - `[1-59]Min` or `[1-59]T`, e.g. `5Min` or `5T` creates 5-minute aggregations\n - `[1-23]Hour` or `[1-23]H`, e.g. `12Hour` or `12H` creates 12-hour aggregations\n - `1Day` or `1D` creates 1-day aggregations\n - `1Week` or `1W` creates 1-week aggregations\n - `[1,2,3,4,6,12]Month` or `[1,2,3,4,6,12]M`, e.g. `3Month` or `3M` creates 3-month aggregations\n"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "RFC-3339 second": {
                "value": "2024-01-03T00:00:00Z",
                "summary": "RFC-3339 date-time with second accuracy"
              },
              "RFC-3339 nanosecond": {
                "value": "2024-01-03T01:02:03.123456789Z",
                "summary": "RFC-3339 date-time with nanosecond accuracy"
              },
              "RFC-3339 with timezone": {
                "value": "2024-01-03T09:30:00-04:00",
                "summary": "RFC-3339 date-time with time zone"
              },
              "date": {
                "value": "2024-01-03",
                "summary": "Date"
              }
            },
            "description": "The inclusive start of the interval. Format: RFC-3339 or YYYY-MM-DD.\nDefault: the beginning of the current day.\n"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "RFC-3339 second": {
                "value": "2024-01-04T00:00:00Z",
                "summary": "RFC-3339 date-time with second accuracy"
              },
              "RFC-3339 nanosecond": {
                "value": "2024-01-04T01:02:03.123456789Z",
                "summary": "RFC-3339 date-time with nanosecond accuracy"
              },
              "RFC-3339 with timezone": {
                "value": "2024-01-04T09:30:00-04:00",
                "summary": "RFC-3339 date-time with time zone"
              },
              "date": {
                "value": "2024-01-04",
                "summary": "Date"
              }
            },
            "description": "The inclusive end of the interval. Format: RFC-3339 or YYYY-MM-DD.\nDefault: the current time if the user has `opra` access, otherwise 15 minutes before the current time.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1000
            },
            "description": "The maximum number of data points to return in the response page.\nThe API may return less, even if there are more available data points in the requested interval.\nAlways check the `next_page_token` for more pages.\nThe limit applies to the total number of data points, not per symbol!\n"
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The pagination token from which to continue. The value to pass here is returned in specific requests when more data is available, usually because of a response result limit.\n"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort data in ascending or descending order.",
            "schema": {
              "type": "string",
              "description": "Sort data in ascending or descending order.",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc",
              "x-go-name": "TypeSort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bars": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "OHLC aggregate of all the trades in a given interval.",
                          "example": {
                            "t": "2024-01-18T05:00:00Z",
                            "o": 0.28,
                            "h": 0.28,
                            "l": 0.23,
                            "c": 0.23,
                            "v": 224,
                            "n": 26,
                            "vw": 0.245045
                          },
                          "properties": {
                            "t": {
                              "type": "string",
                              "description": "Timestamp in RFC-3339 format with nanosecond precision.",
                              "format": "date-time",
                              "x-go-name": "Timestamp"
                            },
                            "o": {
                              "type": "number",
                              "format": "double",
                              "description": "Opening price.",
                              "x-go-name": "Open"
                            },
                            "h": {
                              "type": "number",
                              "format": "double",
                              "description": "High price.",
                              "x-go-name": "High"
                            },
                            "l": {
                              "type": "number",
                              "format": "double",
                              "description": "Low price.",
                              "x-go-name": "Low"
                            },
                            "c": {
                              "type": "number",
                              "format": "double",
                              "description": "Closing price.",
                              "x-go-name": "Close"
                            },
                            "v": {
                              "type": "integer",
                              "format": "int64",
                              "description": "Bar volume.",
                              "x-go-name": "Volume"
                            },
                            "n": {
                              "type": "integer",
                              "format": "int64",
                              "description": "Trade count in the bar.",
                              "x-go-name": "TradeCount"
                            },
                            "vw": {
                              "type": "number",
                              "format": "double",
                              "description": "Volume weighted average price.",
                              "x-go-name": "VWAP"
                            }
                          },
                          "required": [
                            "t",
                            "o",
                            "h",
                            "l",
                            "c",
                            "v",
                            "n",
                            "vw"
                          ]
                        }
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "Pagination token for next page.",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "bars",
                    "next_page_token"
                  ]
                },
                "examples": {
                  "bars": {
                    "value": {
                      "bars": {
                        "AAPL240419P00140000": [
                          {
                            "t": "2024-01-18T05:00:00Z",
                            "o": 0.38,
                            "h": 0.38,
                            "l": 0.34,
                            "c": 0.34,
                            "v": 12,
                            "n": 7,
                            "vw": 0.3525
                          }
                        ]
                      },
                      "next_page_token": "QUFQTHxNfDIwMjItMDEtMDNUMDk6MDA6MDAuMDAwMDAwMDAwWg=="
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_option_bars",
        "description": "The historical option bars API provides aggregates for a list of option symbols between the specified dates.\n\nThe returned results are sorted by symbol first, then by bar timestamp.\nThis means that you are likely to see only one symbol in your first response if there are enough bars for that symbol to hit the limit you requested.\n\nIn these situations, if you keep requesting again with the `next_page_token` from the previous response, you will eventually reach the other symbols if any bars were found for them."
      }
    },
    "/v1beta1/options/meta/conditions/{ticktype}": {
      "get": {
        "summary": "Condition codes",
        "tags": [
          "Option"
        ],
        "parameters": [
          {
            "name": "ticktype",
            "in": "path",
            "description": "The type of ticks.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "trade",
                "quote"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "a": "SLAN - Single Leg Auction Non ISO",
                    "e": "SLFT - Single Leg Floor Trade",
                    "g": "MLAT - Multi Leg Auction"
                  }
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_option_meta_conditions",
        "description": "Returns the mapping between the condition codes and names."
      }
    },
    "/v1beta1/options/meta/exchanges": {
      "get": {
        "summary": "Exchange codes",
        "tags": [
          "Option"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "A": "NYSE American Options",
                    "Q": "Nasdaq Options"
                  }
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_option_meta_exchanges",
        "description": "Returns the mapping between the option exchange codes and the corresponding exchanges names."
      }
    },
    "/v1beta1/options/quotes/latest": {
      "get": {
        "summary": "Latest quotes",
        "tags": [
          "Option"
        ],
        "parameters": [
          {
            "name": "symbols",
            "description": "A comma-separated list of contract symbols with a limit of 100.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL241220C00300000,AAPL240315C00225000"
          },
          {
            "name": "feed",
            "in": "query",
            "description": "The source feed of the data. `opra` is the official OPRA feed, `indicative` is a free indicative feed where trades are delayed and quotes are modified. Default: `opra` if the user has a subscription, otherwise `indicative`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "opra",
                "indicative"
              ],
              "default": "opra",
              "x-go-name": "TypeOptionFeed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quotes": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "description": "The best bid and ask information for a given option.\n",
                        "example": {
                          "t": "2024-02-28T15:30:28.046330624Z",
                          "ax": "w",
                          "ap": 0.16,
                          "as": 669,
                          "bx": "W",
                          "bp": 0.15,
                          "bs": 164,
                          "c": "A"
                        },
                        "properties": {
                          "t": {
                            "type": "string",
                            "description": "Timestamp in RFC-3339 format with nanosecond precision.",
                            "format": "date-time",
                            "x-go-name": "Timestamp"
                          },
                          "bx": {
                            "type": "string",
                            "description": "Bid exchange.",
                            "x-go-name": "BidExchange"
                          },
                          "bp": {
                            "type": "number",
                            "format": "double",
                            "description": "Bid price.",
                            "x-go-name": "BidPrice"
                          },
                          "bs": {
                            "type": "integer",
                            "format": "uint32",
                            "description": "Bid size.",
                            "x-go-name": "BidSize"
                          },
                          "ax": {
                            "type": "string",
                            "description": "Ask exchange.",
                            "x-go-name": "AskExchange"
                          },
                          "ap": {
                            "type": "number",
                            "format": "double",
                            "description": "Ask price.",
                            "x-go-name": "AskPrice"
                          },
                          "as": {
                            "type": "integer",
                            "format": "uint32",
                            "description": "Ask size.",
                            "x-go-name": "AskSize"
                          },
                          "c": {
                            "type": "string",
                            "description": "Quote condition.",
                            "x-go-name": "Condition"
                          }
                        },
                        "required": [
                          "t",
                          "bx",
                          "bp",
                          "bs",
                          "ap",
                          "as",
                          "ax",
                          "c"
                        ]
                      }
                    }
                  },
                  "required": [
                    "quotes"
                  ]
                },
                "examples": {
                  "quotes": {
                    "value": {
                      "quotes": {
                        "AAPL240419P00140000": {
                          "t": "2024-02-28T15:30:28.046330624Z",
                          "ax": "w",
                          "ap": 0.16,
                          "as": 669,
                          "bx": "W",
                          "bp": 0.15,
                          "bs": 164,
                          "c": "A"
                        },
                        "AAPL250321C00190000": {
                          "t": "2024-02-28T15:47:13.663636224Z",
                          "ax": "X",
                          "ap": 17,
                          "as": 622,
                          "bx": "X",
                          "bp": 16.75,
                          "bs": 368,
                          "c": " "
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "alpacamarketdata_option_latest_quotes",
        "description": "The latest multi-quotes endpoint provides the latest bid and ask prices for each given contract symbol.\n"
      }
    },
    "/v1beta1/options/snapshots": {
      "get": {
        "summary": "Snapshots",
        "tags": [
          "Option"
        ],
        "parameters": [
          {
            "name": "symbols",
            "description": "A comma-separated list of contract symbols with a limit of 100.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL241220C00300000,AAPL240315C00225000"
          },
          {
            "name": "feed",
            "in": "query",
            "description": "The source feed of the data. `opra` is the official OPRA feed, `indicative` is a free indicative feed where trades are delayed and quotes are modified. Default: `opra` if the user has a subscription, otherwise `indicative`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "opra",
                "indicative"
              ],
              "default": "opra",
              "x-go-name": "TypeOptionFeed"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter to snapshots that were updated since this timestamp, meaning that the timestamp of the trade or the quote is greater than or equal to this value.\nFormat: RFC-3339 or YYYY-MM-DD. If missing, all values are returned.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Number of maximum snapshots to return in a response.\nThe limit applies to the total number of data points, not the number per symbol!\nUse `next_page_token` to fetch the next set of responses.\n"
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The pagination token from which to continue. The value to pass here is returned in specific requests when more data is available, usually because of a response result limit.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": 100,
                "description": "Request limit per minute."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": 90,
                "description": "Request limit per minute remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "example": 1674044551,
                "description": "The UNIX epoch when the remaining quota changes."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshots": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "description": "A snapshot provides the latest trade and latest quote.",
                        "properties": {
                          "dailyBar": {
                            "type": "object",
                            "description": "OHLC aggregate of all the trades in a given interval.",
                            "example": {
                              "t": "2024-01-18T05:00:00Z",
                              "o": 0.28,
                              "h": 0.28,
                              "l": 0.23,
                              "c": 0.23,
                              "v": 224,
                              "n": 26,
                              "vw": 0.245045
                            },
                            "properties": {
                              "t": {
                                "type": "string",
                                "description": "Timestamp in RFC-3339 format with nanosecond precision.",
                                "format": "date-time",
                                "x-go-name": "Timestamp"
                              },
                              "o": {
                                "type": "number",
                                "format": "double",
                                "description": "Opening price.",
                                "x-go-name": "Open"
                              },
                              "h": {
                                "type": "number",
                                "format": "double",
                                "description": "High price.",
                                "x-go-name": "High"
                              },
                              "l": {
                                "type": "number",
                                "format": "double",
                                "description": "Low price.",
                                "x-go-name": "Low"
                              },
                              "c": {
                                "type": "number",
                                "format": "double",
                                "description": "Closing price.",
                                "x-go-name": "Close"
                              },
                              "v": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Bar volume.",
                                "x-go-name": "Volume"
                              },
                              "n": {
                                "type": "integer",
                                "format": "int64",
                                "description": "Trade count in the bar.",
                                "x-go-name": "TradeCount"
                              },
                              "vw": {
                                "type": "number",
                                "format": "double",
                                "description": "Volume weighted average price.",
                                "x-go-name": "VWAP"
                              }
                            },
                            "required": [
                              "t",
                              "o",
                              "h",
                              "l",
                              "c",
                              "v",
                              "n",
                              "vw"
                            ]
                          },
                          "greeks": {
                            "type": "object",
                            "description": "The greeks for the contract calculated using the Black-Scholes model.",
                            "properties": {
                              "delta": {
                                "type": "number",
                                "format": "double"
                              },
                              "gamma": {
                                "type": "number",
                                "format": "double"
                              },
                              "theta": {
                                "type": "number",
                                "format": "double"
                              },
                              "vega": {
                                "type": "number",
                                "format": "double"
                              },
                              "rho": {
                                "type": "number",
                                "format": "double"
                              }
                            },
                            "required": [
                              "delta",
                              "gamma",
                              "theta",
                              "vega",
                              "rho"
                            ]
                          },
                          "impliedVolatility": {
                            "description": "Implied volatility calculated using the Black-Scholes model.",
                            "format": "double",
                            "type": "number"
                          },
                          "latestQuote": {
                            "type": "object",
                            "description": "The best bid and ask information for a given option.\n",
                            "example": {
                              "t": "2024-02-28T15:30:28.046330624Z",
                              "ax": "w",
                              "ap": 0.16,
                              "as": 669,
                              "bx": "W",
                              "bp": 0.15,
                              "bs": 164,
                              "c": "A"
                            },
                            "properties": {
                              "t": {
                                "type": "string",
                                "description": "Timestamp in RFC-3339 format with nanosecond precision.",
                                "format": "date-time",
                                "x-go-name": "Timestamp"
                              },
                              "bx": {
                                "type": "string",
                                "description": "Bid exchange.",
                                "x-go-name": "BidExchange"
                              },
                              "bp": {
                                "type": "number",
                                "format": "double",
                                "description": "Bid price.",
                                "x-go-name": "BidPrice"
                              },
                              "bs": {
                                "type": "integer",
                                "format": "uint32",
                                "description": "Bid size.",
                                "x-go-name": "BidSize"
                              },
                              "ax": {
                                "type": "string",
                                "description": "Ask exchange.",
                                "x-go-name": "AskExchange"
                              },
                              "ap": {
                                "type": "number",
                                "format": "double",
                                "description": "Ask price.",
                                "x-go-name": "AskPrice"
                              },
                              "as": {
                                "type": "integer",
                                "format": "uint32",
                                "description": "Ask size.",
                                "x-go-name": "AskSize"
                              },
                              "c": {
                                "type": "string",
                                "description": "Quote condition.",
                                "x-go-name": "Condition"
                              }
                            },
                            "required": [
                              "t",
                              "bx",
                              "bp",
                              "bs",
                              "ap",
                              "as",
                              "ax",
                              "c"
                            ]
                          },
                          "latestTrade": {
                            "type": "object",
                            "description": "An option trade.",
                            "example": {
                              "t": "2024-01-18T15:03:44.56339456Z",
                              "x": "B",
                              "p": 0.37,
                              "s": 1,
                              "c": "I"
                            },
                            "properties": {
                              "t": {
                                "type": "string",
                                "description": "Timestamp in RFC-3339 format with nanosecond precision.",
                                "format": "date-time",
                                "x-go-name": "Timestamp"
                              },
                              "x": {
                                "type": "string",
                                "x-go-name": "Exchange"
                              },
                              "p": {
                                "type": "number",
                                "format": "double",
[...]
